visualize/pdsObjectAccess/src/test/resources/dph_example_products/schemas/Class_Types_edited_0300e.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Class_Types_0.3.0.0.e  Wed Mar 30 18:42:34 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.3.0.0.e -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="3.0.0">
    <xsd:include schemaLocation="Attribute_Types_edited_0300e.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2005/08/xml.xsd"/> 
    
    <xsd:annotation>
      <xsd:documentation>The purpose of this schema is to provide type definitions for
        tagged_data_objects, the building blocks of a PDS4 product.
      </xsd:documentation>
    </xsd:annotation>

  <xsd:complexType name="Array_2D_Image_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Array 2D Image class is an extension of array_base and defines a  two dimensional image.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="axes" type="pds:Array_2D_axes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_2D:axes -->
      <xsd:element name="axis_order" type="pds:Array_2D_Image_axis_order_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_2D_Image:axis_order -->
      <xsd:element name="encoding_type" type="pds:Array_Base_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:encoding_type -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:offset -->
      <xsd:element name="Object_Statistics" type="pds:Object_Statistics_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics -->
      <xsd:element name="Special_Constants" type="pds:Special_Constants_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants -->
      <xsd:element name="Array_Axis" type="pds:Array_Axis_Type" minOccurs="2" maxOccurs="2"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis -->
      <xsd:element name="Array_Element" type="pds:Array_Element_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element -->
      <xsd:element name="Image_2D_Display" type="pds:Image_2D_Display_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_2D_Display -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Array_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Array_2D_Map_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Array 2D Map class is an extension of array_base and defines a  two dimensional map.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="axes" type="pds:Array_2D_axes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_2D:axes -->
      <xsd:element name="axis_order" type="pds:axis_order_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:axis_order -->
      <xsd:element name="encoding_type" type="pds:Array_Base_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:encoding_type -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:offset -->
      <xsd:element name="Array_Axis" type="pds:Array_Axis_Type" minOccurs="2" maxOccurs="2"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis -->
      <xsd:element name="Array_Element" type="pds:Array_Element_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Array_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Array_2D_Spectrum_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Array 2D Spectrum class is an extension of array_base and defines a  two dimensional spectrum.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="axes" type="pds:Array_2D_axes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_2D:axes -->
      <xsd:element name="axis_order" type="pds:axis_order_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:axis_order -->
      <xsd:element name="encoding_type" type="pds:Array_Base_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:encoding_type -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:offset -->
      <xsd:element name="Array_Axis" type="pds:Array_Axis_Type" minOccurs="2" maxOccurs="2"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis -->
      <xsd:element name="Array_Element" type="pds:Array_Element_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Array_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Array_3D_Image_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Array 3D Image class is an extension of array_base and defines a  three dimensional image.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="axes" type="pds:Array_3D_axes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_3D:axes -->
      <xsd:element name="axis_order" type="pds:Array_3D_Image_axis_order_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_3D_Image:axis_order -->
      <xsd:element name="encoding_type" type="pds:Array_Base_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:encoding_type -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:offset -->
      <xsd:element name="Array_Axis" type="pds:Array_Axis_Type" minOccurs="3" maxOccurs="3"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis -->
      <xsd:element name="Array_Element" type="pds:Array_Element_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Array_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Array_3D_Movie_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Array 3D  Movie class is an extension of array_base and defines a  movie as a set of two dimensional images in a time series.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="axes" type="pds:Array_3D_axes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_3D:axes -->
      <xsd:element name="axis_order" type="pds:axis_order_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:axis_order -->
      <xsd:element name="encoding_type" type="pds:Array_Base_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:encoding_type -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:offset -->
      <xsd:element name="Array_Axis" type="pds:Array_Axis_Type" minOccurs="3" maxOccurs="3"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis -->
      <xsd:element name="Array_Element" type="pds:Array_Element_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Array_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Array_3D_Spectrum_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Array 3D Spectrum class is an extension of array_base and defines a  three dimensional spectrum.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="axes" type="pds:Array_3D_axes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_3D:axes -->
      <xsd:element name="axis_order" type="pds:axis_order_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:axis_order -->
      <xsd:element name="encoding_type" type="pds:Array_Base_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:encoding_type -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:offset -->
      <xsd:element name="Array_Axis" type="pds:Array_Axis_Type" minOccurs="3" maxOccurs="3"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis -->
      <xsd:element name="Array_Element" type="pds:Array_Element_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Array_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Array_Axis_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Array Axis class is used as a component of the array class and defines an axis of the array.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="elements" type="pds:elements_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis:elements -->
      <xsd:element name="name" type="pds:name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis:name -->
      <xsd:element name="sequence_number" type="pds:sequence_number_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis:sequence_number -->
      <xsd:element name="unit" type="pds:unit_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis:unit -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Array_Element_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Array Element class is used as a component of the array class and defines an element of the array.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="data_type" type="pds:data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element:data_type -->
      <xsd:element name="scaling_factor" type="pds:scaling_factor_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element:scaling_factor -->
      <xsd:element name="unit" type="pds:unit_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element:unit -->
      <xsd:element name="value_offset" type="pds:value_offset_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element:value_offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Encoded_Image_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Encoded Image class, a subclass of Encoded Byte stream is used for ancillary images in standard formats, such as JPEG.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Encoded_Byte_Stream_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Encoded_Byte_Stream:encoding_type -->
      <xsd:element name="external_standard_id" type="pds:Encoded_Image_external_standard_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Encoded_Image:external_standard_id -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Encoded_Byte_Stream:offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="File_PDF_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The File PDF class describes a PDF encoded byte stream.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Encoded_Byte_Stream_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Encoded_Byte_Stream:encoding_type -->
      <xsd:element name="external_standard_id" type="pds:File_PDF_external_standard_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File_PDF:external_standard_id -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Encoded_Byte_Stream:offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Header_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Header class describes a data object header.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="description" type="pds:description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Header:description -->
      <xsd:element name="bytes" type="pds:bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Header:bytes -->
      <xsd:element name="encoding_type" type="pds:Encoded_Byte_Stream_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Encoded_Byte_Stream:encoding_type -->
      <xsd:element name="external_standard_id" type="pds:Header_external_standard_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Header:external_standard_id -->
      <xsd:element name="name" type="pds:name_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Header:name -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Encoded_Byte_Stream:offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Image_2D_Display_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Image_2D_Display class provides attributes to enable the display of a 2D image.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="first_line" type="pds:first_line_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_2D_Display:first_line -->
      <xsd:element name="first_line_sample" type="pds:first_line_sample_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_2D_Display:first_line_sample -->
      <xsd:element name="line_display_direction" type="pds:line_display_direction_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_2D_Display:line_display_direction -->
      <xsd:element name="sample_display_direction" type="pds:sample_display_direction_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_2D_Display:sample_display_direction -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Inventory_LIDVID_Primary_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Inventory LIDVID Primary class defines the inventory for primary members of a collection.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Table_Base_Character_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base_Character:encoding_type -->
      <xsd:element name="fields" type="pds:Inventory_LIDVID_Primary_fields_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Inventory_LIDVID_Primary:fields -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:offset -->
      <xsd:element name="record_bytes" type="pds:record_bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:record_bytes -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:records -->
      <xsd:element name="reference_association_type" type="pds:reference_association_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Inventory_LIDVID_Primary:reference_association_type -->
      <xsd:element name="Table_Record_Inventory_LIDVID_Primary" type="pds:Table_Record_Inventory_LIDVID_Primary_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Record_Inventory_LIDVID_Primary -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Table_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Inventory_LIDVID_Secondary_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Inventory LIDVID Secondary class defines the inventory for secondary members of a collection. The references are LIDVIDs.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Table_Base_Character_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base_Character:encoding_type -->
      <xsd:element name="fields" type="pds:Inventory_LIDVID_Secondary_fields_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Inventory_LIDVID_Secondary:fields -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:offset -->
      <xsd:element name="record_bytes" type="pds:record_bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:record_bytes -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:records -->
      <xsd:element name="reference_association_type" type="pds:reference_association_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Inventory_LIDVID_Secondary:reference_association_type -->
      <xsd:element name="Table_Record_Inventory_LIDVID_Secondary" type="pds:Table_Record_Inventory_LIDVID_Secondary_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Record_Inventory_LIDVID_Secondary -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Table_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Inventory_LID_Secondary_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Inventory LID Secondary class defines the inventory for secondary members of a collection. The references are LIDs.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Table_Base_Character_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base_Character:encoding_type -->
      <xsd:element name="fields" type="pds:Inventory_LID_Secondary_fields_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Inventory_LID_Secondary:fields -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:offset -->
      <xsd:element name="record_bytes" type="pds:record_bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:record_bytes -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:records -->
      <xsd:element name="reference_association_type" type="pds:reference_association_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Inventory_LID_Secondary:reference_association_type -->
      <xsd:element name="Table_Record_Inventory_LID_Secondary" type="pds:Table_Record_Inventory_LID_Secondary_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Record_Inventory_LID_Secondary -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Table_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Manifest_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The manifest class defines a table for file references.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Table_Base_Character_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base_Character:encoding_type -->
      <xsd:element name="fields" type="pds:Manifest_fields_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Manifest:fields -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:offset -->
      <xsd:element name="record_bytes" type="pds:record_bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:record_bytes -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:records -->
      <xsd:element name="reference_association_type" type="pds:reference_association_type_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Manifest:reference_association_type -->
      <xsd:element name="Table_Record_Manifest" type="pds:Table_Record_Manifest_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Record_Manifest -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Table_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Object_Statistics_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Object Statistics class provides a set of values that provide metrics about the object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Supplemental:local_identifier -->
      <xsd:element name="description" type="pds:description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Supplemental:description -->
      <xsd:element name="maximum" type="pds:maximum_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:maximum -->
      <xsd:element name="md5_checksum" type="pds:md5_checksum_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:md5_checksum -->
      <xsd:element name="mean" type="pds:mean_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:mean -->
      <xsd:element name="median" type="pds:median_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:median -->
      <xsd:element name="minimum" type="pds:minimum_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:minimum -->
      <xsd:element name="sample_bit_mask" type="pds:sample_bit_mask_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:sample_bit_mask -->
      <xsd:element name="standard_deviation" type="pds:standard_deviation_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:standard_deviation -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SPICE_Kernel_Binary_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The SPICE Kernel class describes a SPICE file.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Encoded_Byte_Stream_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Encoded_Byte_Stream:encoding_type -->
      <xsd:element name="external_standard_id" type="pds:SPICE_Kernel_Binary_external_standard_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:SPICE_Kernel_Binary:external_standard_id -->
      <xsd:element name="kernel_type" type="pds:kernel_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:SPICE_Kernel_Binary:kernel_type -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Encoded_Byte_Stream:offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SPICE_Kernel_Text_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The SPICE Kernel class describes a SPICE file.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:SPICE_Kernel_Text_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:SPICE_Kernel_Text:encoding_type -->
      <xsd:element name="external_standard_id" type="pds:SPICE_Kernel_Text_external_standard_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:SPICE_Kernel_Text:external_standard_id -->
      <xsd:element name="kernel_type" type="pds:kernel_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:SPICE_Kernel_Text:kernel_type -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Special_Constants_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Special Constants class provides a set of values used to indicate special cases that occur in the data.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="error_constant" type="pds:error_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:error_constant -->
      <xsd:element name="invalid_constant" type="pds:invalid_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:invalid_constant -->
      <xsd:element name="missing_constant" type="pds:missing_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:missing_constant -->
      <xsd:element name="not_applicable_constant" type="pds:not_applicable_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:not_applicable_constant -->
      <xsd:element name="saturated_constant" type="pds:saturated_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:saturated_constant -->
      <xsd:element name="unknown_constant" type="pds:unknown_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:unknown_constant -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Stream_Delimited_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Stream Delimited class defines a simple spreadsheet.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Stream_Delimited_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited:encoding_type -->
      <xsd:element name="external_standard_id" type="pds:Stream_Delimited_external_standard_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited:external_standard_id -->
      <xsd:element name="field_delimiter" type="pds:field_delimiter_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited:field_delimiter -->
      <xsd:element name="fields" type="pds:fields_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited:fields -->
      <xsd:element name="maximum_record_length" type="pds:maximum_record_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited:maximum_record_length -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:offset -->
      <xsd:element name="record_delimiter" type="pds:record_delimiter_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited:record_delimiter -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited:records -->
      <xsd:element name="Stream_Delimited_Record" type="pds:Stream_Delimited_Record_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Record -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Stream_Delimited_Field_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Stream Delimited Field class is a component of the stream delimited  (spreadsheet) record class and defines a field of the record.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_name -->
      <xsd:element name="field_number" type="pds:field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_number -->
      <xsd:element name="field_data_type" type="pds:field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_data_type -->
      <xsd:element name="field_format" type="pds:field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_format -->
      <xsd:element name="minimum_scaled_value" type="pds:minimum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:minimum_scaled_value -->
      <xsd:element name="maximum_scaled_value" type="pds:maximum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:maximum_scaled_value -->
      <xsd:element name="field_min_logical" type="pds:field_min_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_min_logical -->
      <xsd:element name="field_max_logical" type="pds:field_max_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_max_logical -->
      <xsd:element name="field_scaling_factor" type="pds:field_scaling_factor_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_scaling_factor -->
      <xsd:element name="field_value_offset" type="pds:field_value_offset_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_value_offset -->
      <xsd:element name="field_unit" type="pds:field_unit_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_unit -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_description -->
      <xsd:element name="field_bytes" type="pds:field_bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field:field_bytes -->
      <xsd:element name="Object_Statistics" type="pds:Object_Statistics_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics -->
      <xsd:element name="Special_Constants" type="pds:Special_Constants_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Stream_Delimited_Field_Sequence_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Stream Delimited Field Sequence class is a component of the grouped stream delimited  (spreadsheet) class. It defines a set of fields or a nested set of fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Stream_Delimited_Field" type="pds:Stream_Delimited_Field_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field -->
      <xsd:element name="Stream_Delimited_Grouped_Sequence" type="pds:Stream_Delimited_Grouped_Sequence_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Grouped_Sequence -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Stream_Delimited_Grouped_Sequence_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Stream Delimited Grouped Sequence class is a component of the grouped stream delimited  (spreadsheet)  class. It defines a set of fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="repetitions" type="pds:repetitions_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Grouped_Sequence:repetitions -->
      <xsd:element name="Stream_Delimited_Field_Sequence" type="pds:Stream_Delimited_Field_Sequence_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Field_Sequence -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Stream_Delimited_Record_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Stream Delimited Record class is a component of the stream delimited (spreadsheet) class and defines a record of the spreadsheet.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Stream_Delimited_Grouped_Sequence" type="pds:Stream_Delimited_Grouped_Sequence_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Delimited_Grouped_Sequence -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Stream_Text_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Stream text class defines a text file.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Parsable_Byte_Stream_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:encoding_type -->
      <xsd:element name="external_standard_id" type="pds:external_standard_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:external_standard_id -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Binary_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Binary class is an extension of table base and defines a simple binary table.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Table_Base_Binary_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base_Binary:encoding_type -->
      <xsd:element name="fields" type="pds:fields_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:fields -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:offset -->
      <xsd:element name="record_bytes" type="pds:record_bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:record_bytes -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:records -->
      <xsd:element name="Table_Record_Binary" type="pds:Table_Record_Binary_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Record_Binary -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Table_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Table_Binary_Field_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Binary Field class is a component of the table record class and defines a field of the record. This extension defines a binary field.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_name -->
      <xsd:element name="field_number" type="pds:field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Binary_Field_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Field:field_data_type -->
      <xsd:element name="field_location" type="pds:field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_location -->
      <xsd:element name="field_length" type="pds:field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_length -->
      <xsd:element name="field_format" type="pds:Table_Field_Extended_field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_format -->
      <xsd:element name="minimum_scaled_value" type="pds:minimum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:minimum_scaled_value -->
      <xsd:element name="maximum_scaled_value" type="pds:maximum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:maximum_scaled_value -->
      <xsd:element name="field_min_logical" type="pds:field_min_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_min_logical -->
      <xsd:element name="field_max_logical" type="pds:field_max_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_max_logical -->
      <xsd:element name="field_scaling_factor" type="pds:field_scaling_factor_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_scaling_factor -->
      <xsd:element name="field_value_offset" type="pds:field_value_offset_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_value_offset -->
      <xsd:element name="field_unit" type="pds:field_unit_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_unit -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
      <xsd:element name="Object_Statistics" type="pds:Object_Statistics_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics -->
      <xsd:element name="Special_Constants" type="pds:Special_Constants_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Binary_Field_Sequence_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Binary Field Sequence class is a component of the grouped table class. It defines a set of fields or a nested set of fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Binary_Grouped_Bit_Field" type="pds:Table_Binary_Grouped_Bit_Field_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped_Bit_Field -->
      <xsd:element name="Table_Binary_Grouped_Field" type="pds:Table_Binary_Grouped_Field_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped_Field -->
      <xsd:element name="Table_Binary_Grouped_Sequence" type="pds:Table_Binary_Grouped_Sequence_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped_Sequence -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Binary_Grouped_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Binary Grouped class is an extension of table base and defines a simple binary table that allows repeating groups of fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Table_Base_Binary_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base_Binary:encoding_type -->
      <xsd:element name="fields" type="pds:fields_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:fields -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:offset -->
      <xsd:element name="record_bytes" type="pds:record_bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:record_bytes -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:records -->
      <xsd:element name="Table_Record_Binary_Grouped" type="pds:Table_Record_Binary_Grouped_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Record_Binary_Grouped -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Table_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Table_Binary_Grouped_Bit_Field_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Binary Grouped Bit Field class is a component of the table record class and defines a field of the record. This extension defines a binary grouped bit field.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_name -->
      <xsd:element name="field_number" type="pds:field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Binary_Grouped_Bit_Field_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped_Bit_Field:field_data_type -->
      <xsd:element name="field_location" type="pds:field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_location -->
      <xsd:element name="field_length" type="pds:field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_length -->
      <xsd:element name="field_format" type="pds:Table_Field_Extended_field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_format -->
      <xsd:element name="minimum_scaled_value" type="pds:minimum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:minimum_scaled_value -->
      <xsd:element name="maximum_scaled_value" type="pds:maximum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:maximum_scaled_value -->
      <xsd:element name="field_min_logical" type="pds:field_min_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_min_logical -->
      <xsd:element name="field_max_logical" type="pds:field_max_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_max_logical -->
      <xsd:element name="field_scaling_factor" type="pds:field_scaling_factor_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_scaling_factor -->
      <xsd:element name="field_value_offset" type="pds:field_value_offset_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_value_offset -->
      <xsd:element name="field_unit" type="pds:field_unit_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_unit -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
      <xsd:element name="bit_mask" type="pds:bit_mask_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped_Bit_Field:bit_mask -->
      <xsd:element name="bits" type="pds:bits_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped_Bit_Field:bits -->
      <xsd:element name="start_bit" type="pds:start_bit_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped_Bit_Field:start_bit -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Binary_Grouped_Field_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Binary Grouped  Field class is a component of the table record class and defines a field of the record. This extension defines a binary grouped field.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_name -->
      <xsd:element name="field_number" type="pds:field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Binary_Grouped_Field_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped_Field:field_data_type -->
      <xsd:element name="field_location" type="pds:field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_location -->
      <xsd:element name="field_length" type="pds:field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_length -->
      <xsd:element name="field_format" type="pds:Table_Field_Extended_field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_format -->
      <xsd:element name="minimum_scaled_value" type="pds:minimum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:minimum_scaled_value -->
      <xsd:element name="maximum_scaled_value" type="pds:maximum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:maximum_scaled_value -->
      <xsd:element name="field_min_logical" type="pds:field_min_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_min_logical -->
      <xsd:element name="field_max_logical" type="pds:field_max_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_max_logical -->
      <xsd:element name="field_scaling_factor" type="pds:field_scaling_factor_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_scaling_factor -->
      <xsd:element name="field_value_offset" type="pds:field_value_offset_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_value_offset -->
      <xsd:element name="field_unit" type="pds:field_unit_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_unit -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Binary_Grouped_Sequence_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Binary Grouped Sequence class is a component of the grouped table class. It defines a set of fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="repetitions" type="pds:repetitions_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped_Sequence:repetitions -->
      <xsd:element name="Table_Binary_Field_Sequence" type="pds:Table_Binary_Field_Sequence_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Field_Sequence -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Character_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Character class is an extension of table base and defines a simple character table.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Table_Base_Character_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base_Character:encoding_type -->
      <xsd:element name="fields" type="pds:fields_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:fields -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:offset -->
      <xsd:element name="record_bytes" type="pds:record_bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:record_bytes -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:records -->
      <xsd:element name="Table_Record_Character" type="pds:Table_Record_Character_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Record_Character -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Table_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Table_Character_Field_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Character Field class is a component of the table record class and defines a field of the record. This extension defines a character field.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_name -->
      <xsd:element name="field_number" type="pds:field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Character_Field_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character_Field:field_data_type -->
      <xsd:element name="field_location" type="pds:Table_Character_Field_field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character_Field:field_location -->
      <xsd:element name="field_length" type="pds:field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_length -->
      <xsd:element name="field_format" type="pds:Table_Field_Extended_field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_format -->
      <xsd:element name="minimum_scaled_value" type="pds:minimum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:minimum_scaled_value -->
      <xsd:element name="maximum_scaled_value" type="pds:maximum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:maximum_scaled_value -->
      <xsd:element name="field_min_logical" type="pds:field_min_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_min_logical -->
      <xsd:element name="field_max_logical" type="pds:field_max_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_max_logical -->
      <xsd:element name="field_scaling_factor" type="pds:field_scaling_factor_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_scaling_factor -->
      <xsd:element name="field_value_offset" type="pds:field_value_offset_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_value_offset -->
      <xsd:element name="field_unit" type="pds:field_unit_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_unit -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
      <xsd:element name="Object_Statistics" type="pds:Object_Statistics_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics -->
      <xsd:element name="Special_Constants" type="pds:Special_Constants_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Character_Field_Sequence_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Character Field Sequence class is a component of the grouped table class. It defines a set of fields or a nested set of fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Character_Grouped_Field" type="pds:Table_Character_Grouped_Field_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character_Grouped_Field -->
      <xsd:element name="Table_Character_Grouped_Sequence" type="pds:Table_Character_Grouped_Sequence_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character_Grouped_Sequence -->
    </xsd:sequence>
    <xsd:attribute ref='xml:base'/>    
  </xsd:complexType>

  <xsd:complexType name="Table_Character_Grouped_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Character Grouped class is an extension of table base and defines a simple character table that allows repeating groups of fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Table_Base_Character_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base_Character:encoding_type -->
      <xsd:element name="fields" type="pds:fields_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:fields -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:offset -->
      <xsd:element name="record_bytes" type="pds:record_bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:record_bytes -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:records -->
      <xsd:element name="Table_Record_Character_Grouped" type="pds:Table_Record_Character_Grouped_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Record_Character_Grouped -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Table_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Table_Character_Grouped_Field_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Character Grouped Field class is a component of the table record class and defines a field of the record. This extension defines a character grouped field.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_name -->
      <xsd:element name="field_number" type="pds:field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Character_Grouped_Field_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character_Grouped_Field:field_data_type -->
      <xsd:element name="field_location" type="pds:field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_location -->
      <xsd:element name="field_length" type="pds:field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_length -->
      <xsd:element name="field_format" type="pds:Table_Field_Extended_field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_format -->
      <xsd:element name="minimum_scaled_value" type="pds:minimum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:minimum_scaled_value -->
      <xsd:element name="maximum_scaled_value" type="pds:maximum_scaled_value_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:maximum_scaled_value -->
      <xsd:element name="field_min_logical" type="pds:field_min_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_min_logical -->
      <xsd:element name="field_max_logical" type="pds:field_max_logical_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_max_logical -->
      <xsd:element name="field_scaling_factor" type="pds:field_scaling_factor_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_scaling_factor -->
      <xsd:element name="field_value_offset" type="pds:field_value_offset_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_value_offset -->
      <xsd:element name="field_unit" type="pds:field_unit_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Extended:field_unit -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Character_Grouped_Sequence_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Character Grouped Sequence class is a component of the grouped table class. It defines a set of fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="repetitions" type="pds:repetitions_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character_Grouped_Sequence:repetitions -->
      <xsd:element name="Table_Character_Field_Sequence" type="pds:Table_Character_Field_Sequence_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character_Field_Sequence -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Field_Checksum_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Field Checksum class defines a table field that provides a file checksum.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:Table_Field_Checksum_field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Checksum:field_name -->
      <xsd:element name="field_number" type="pds:Table_Field_Checksum_field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Checksum:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Field_Checksum_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Checksum:field_data_type -->
      <xsd:element name="field_location" type="pds:field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_location -->
      <xsd:element name="field_length" type="pds:field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_length -->
      <xsd:element name="field_format" type="pds:field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_format -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Field_File_Specification_Name_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table_Field_File_Specification_Name class defines a table field that provides a file name, file extension, and relative directory path to a product label.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:Table_Field_File_Specification_Name_field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_name -->
      <xsd:element name="field_number" type="pds:Table_Field_File_Specification_Name_field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Field_File_Specification_Name_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_data_type -->
      <xsd:element name="field_location" type="pds:Table_Field_File_Specification_Name_field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_location -->
      <xsd:element name="field_length" type="pds:Table_Field_File_Specification_Name_field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_length -->
      <xsd:element name="field_format" type="pds:Table_Field_File_Specification_Name_field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_format -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Field_LID_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table_Field_LID class defines a table field that provides the logical identifier for a product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:Table_Field_LID_field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID:field_name -->
      <xsd:element name="field_number" type="pds:Table_Field_LID_field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Field_LID_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID:field_data_type -->
      <xsd:element name="field_location" type="pds:Table_Field_LID_field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID:field_location -->
      <xsd:element name="field_length" type="pds:field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_length -->
      <xsd:element name="field_format" type="pds:Table_Field_LID_field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID:field_format -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Field_LIDVID_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Field LIDVID class defines a table field that provides the logical identifier and version identifier for a product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:Table_Field_LIDVID_field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LIDVID:field_name -->
      <xsd:element name="field_number" type="pds:Table_Field_LIDVID_field_number_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LIDVID:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Field_LIDVID_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LIDVID:field_data_type -->
      <xsd:element name="field_location" type="pds:Table_Field_LIDVID_field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LIDVID:field_location -->
      <xsd:element name="field_length" type="pds:Table_Field_LIDVID_field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LIDVID:field_length -->
      <xsd:element name="field_format" type="pds:Table_Field_LIDVID_field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LIDVID:field_format -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Record_Binary_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Record Binary class is a component of the table class and defines a record of the table. This extension defines a binary record.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Binary_Field" type="pds:Table_Binary_Field_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Field -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Record_Binary_Grouped_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Record Binary Grouped class is a component of the table class and defines a record of the table. This extension defines a binary record with grouped fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Binary_Grouped_Sequence" type="pds:Table_Binary_Grouped_Sequence_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped_Sequence -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Record_Character_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Record Character class is a component of the table class and defines a record of the table. This extension defines a character record.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Character_Field" type="pds:Table_Character_Field_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character_Field -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Record_Character_Grouped_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Record Character Grouped class is a component of the table class and defines a record of the table. This extension defines a character record with grouped fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Character_Grouped_Sequence" type="pds:Table_Character_Grouped_Sequence_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character_Grouped_Sequence -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Record_Inventory_LIDVID_Primary_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Record Inventory LIDVID Primary class defines the inventory record for a primary member.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Field_LIDVID" type="pds:Table_Field_LIDVID_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LIDVID -->
      <xsd:element name="Table_Field_File_Specification_Name" type="pds:Table_Field_File_Specification_Name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Record_Inventory_LIDVID_Secondary_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Record Inventory LIDVID Secondary class defines the inventory record for a secondary member. The reference is a LIDVID.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Field_LIDVID" type="pds:Table_Field_LIDVID_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LIDVID -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Record_Inventory_LID_Secondary_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Record Inventory LID Secondary class defines the inventory record  for a secondary member. The reference is a LID.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Field_LID" type="pds:Table_Field_LID_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Record_Manifest_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table Record Manifest class defines the record for an MD5 checksum manifest table.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Field_File_Specification_Name" type="pds:Table_Field_File_Specification_Name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name -->
      <xsd:element name="Table_Field_Checksum" type="pds:Table_Field_Checksum_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_Checksum -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="XML_Schema_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The XML Schema class defines a text stream file containing XML Schema.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:XML_Schema_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:XML_Schema:encoding_type -->
      <xsd:element name="external_standard_id" type="pds:XML_Schema_external_standard_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:XML_Schema:external_standard_id -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:offset -->
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
