visualize/pdsObjectAccess/src/test/resources/dph_example_products/schemas/Product_Bundle_0300e.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Product_Bundle_0.3.0.0.e  Wed Mar 30 18:42:34 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.3.0.0.e -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="3.0.0">
 
    <xsd:include schemaLocation="Class_Types_0300e.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0300e.xsd"/> -->

  <xsd:complexType name="Product_Bundle_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          Product Bundle is a cluster product and has a table of references to one or more collections.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Identification_Area_Bundle" type="pds:Identification_Area_Bundle_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area_Bundle -->
      <xsd:element name="Cross_Reference_Area_Bundle" type="pds:Cross_Reference_Area_Bundle_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Cross_Reference_Area_Bundle -->
      <xsd:element name="Bundle_Member_Entry" type="pds:Bundle_Member_Entry_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bundle_Member_Entry -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Identification_Area_Bundle_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The bundle identification area consists of attributes that identify and name a bundle.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="logical_identifier" type="pds:logical_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:logical_identifier -->
      <xsd:element name="version_id" type="pds:version_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:version_id -->
      <xsd:element name="product_class" type="pds:product_class_Type" fixed="Product_Bundle" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:product_class -->
      <xsd:element name="title" type="pds:title_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:title -->
      <xsd:element name="alternate_title" type="pds:alternate_title_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_title -->
      <xsd:element name="alternate_id" type="pds:alternate_id_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_id -->
      <xsd:element name="last_modification_date_time" type="pds:last_modification_date_time_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:last_modification_date_time -->
      <xsd:element name="product_subclass" type="pds:product_subclass_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:product_subclass -->
      <xsd:element name="Subject_Area" type="pds:Subject_Area_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Subject_Area_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Subject Area provides one or more topics associated with the identifiable using keywords, key phrases, or classification codes.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="target_name" type="pds:target_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:target_name -->
      <xsd:element name="data_set_name" type="pds:data_set_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:data_set_name -->
      <xsd:element name="instrument_name" type="pds:instrument_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_name -->
      <xsd:element name="instrument_host_name" type="pds:instrument_host_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_host_name -->
      <xsd:element name="full_name" type="pds:full_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:full_name -->
      <xsd:element name="investigation_name" type="pds:investigation_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:investigation_name -->
      <xsd:element name="observing_system_name" type="pds:observing_system_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:observing_system_name -->
      <xsd:element name="Name_Resolution" type="pds:Name_Resolution_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Name_Resolution_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Name_Resolution class provides both primary and alternate names of an object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="class_name" type="pds:class_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:class_name -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:lidvid_reference -->
      <xsd:element name="name" type="pds:name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:name -->
      <xsd:element name="primary_name" type="pds:primary_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:primary_name -->
      <xsd:element name="role" type="pds:role_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:role -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Cross_Reference_Area_Bundle_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The bundle cross reference area provides references to associated registered products.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Bibliographic_Reference" type="pds:Bibliographic_Reference_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference -->
      <xsd:element name="Reference_Entry" type="pds:Reference_Entry_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Bibliographic_Reference_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Bibliographic Reference  class provides references to documents that are not regisered with the PDS.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Supplemental:local_identifier -->
      <xsd:element name="description" type="pds:description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Supplemental:description -->
      <xsd:element name="doi" type="pds:doi_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:doi -->
      <xsd:element name="reference_text" type="pds:reference_text_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:reference_text -->
      <xsd:element name="url" type="pds:url_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:url -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Reference_Entry_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Reference Entry class provides a reference and type information about the reference. The reference is to a product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Reference_Entry_reference_association_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Bundle_Member_Entry_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Bundle Member Entry class provides a member reference to a collection.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="file_specification_name" type="pds:file_specification_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bundle_Member_Entry:file_specification_name -->
      <xsd:element name="lid_reference" type="pds:lid_reference_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bundle_Member_Entry:lid_reference -->
      <xsd:element name="reference_association_type" type="pds:reference_association_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bundle_Member_Entry:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Product_Bundle" type="pds:Product_Bundle_Type">
    <xsd:annotation>
      <xsd:documentation>
        The Product_Bundle XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
