preparation/core/src/main/resources/schema/0200B/CAHVORE_0200B.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for CAHVORE_0.2.0.0.Beta  Tue Feb 15 13:52:03 PST 2011 -->
  <!-- Generated from the PDS4 Information Model V0.2.0.0.Beta -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="2.0.0">
 
    <xsd:include schemaLocation="Extended_Types_0200B.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0200B.xsd"/> -->

  <xsd:complexType name="CAHVORE_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          Built upon the CAHVOR model, but describes more general cameras including those with fisheye or otherwise wide field of view lenses.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="Axis_Vector" type="pds:Axis_Vector_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Axis_Vector -->
      <xsd:element name="Center_Vector" type="pds:Center_Vector_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Center_Vector -->
      <xsd:element name="Coefficients_Array" type="pds:Coefficients_Array_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array -->
      <xsd:element name="Coordinate_System" type="pds:Coordinate_System_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coordinate_System -->
      <xsd:element name="Horizontal_Vector" type="pds:Horizontal_Vector_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Horizontal_Vector -->
      <xsd:element name="Vector" type="pds:Vector_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector -->
      <xsd:element name="Vertical_Vector" type="pds:Vertical_Vector_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vertical_Vector -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Axis_Vector_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          A vector defining the camera axis, which is normal to the image plane.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Center_Vector_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Coefficients_Array_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          An array providing the coefficients of a polynomial
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="coefficient_1" type="pds:coefficient_1_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array:coefficient_1 -->
      <xsd:element name="coefficient_2" type="pds:coefficient_2_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array:coefficient_2 -->
      <xsd:element name="coefficient_3" type="pds:coefficient_3_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array:coefficient_3 -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Coordinate_System_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="coordinate_system_name" type="pds:coordinate_system_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coordinate_System:coordinate_system_name -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Horizontal_Vector_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Vector_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          Provides the coordinates of a point (x, y, z) in Cartesian space relative to the origin of a reference frame, thereby providing the magnitude and direction of a line from the origin to that point.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Vertical_Vector_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="CAHVORE" type="pds:CAHVORE_Type">
    <xsd:annotation>
      <xsd:documentation>
        The CAHVORE XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
