preparation/core/src/main/resources/schema/0200B/Coefficients_Array_0200B.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Coefficients_Array_0.2.0.0.Beta  Tue Feb 15 13:52:03 PST 2011 -->
  <!-- Generated from the PDS4 Information Model V0.2.0.0.Beta -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="2.0.0">
 
    <xsd:include schemaLocation="Extended_Types_0200B.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0200B.xsd"/> -->

  <xsd:complexType name="Coefficients_Array_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          An array providing the coefficients of a polynomial
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="coefficient_1" type="pds:coefficient_1_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array:coefficient_1 -->
      <xsd:element name="coefficient_2" type="pds:coefficient_2_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array:coefficient_2 -->
      <xsd:element name="coefficient_3" type="pds:coefficient_3_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array:coefficient_3 -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Coefficients_Array" type="pds:Coefficients_Array_Type">
    <xsd:annotation>
      <xsd:documentation>
        The Coefficients_Array XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
