preparation/core/src/main/resources/schema/0200B/Collection_Secondary_0200B.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Collection_Secondary_0.2.0.0.Beta  Tue Feb 15 13:52:03 PST 2011 -->
  <!-- Generated from the PDS4 Information Model V0.2.0.0.Beta -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="2.0.0">
 
    <xsd:include schemaLocation="Extended_Types_0200B.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0200B.xsd"/> -->

  <xsd:complexType name="Collection_Secondary_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          A Secondary collection is a product that has a table of references to one or more generic products. The references are LIDs.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Identification_Area_Collection" type="pds:Identification_Area_Collection_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area_Collection -->
      <xsd:element name="Cross_Reference_Area_Collection" type="pds:Cross_Reference_Area_Collection_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Cross_Reference_Area_Collection -->
      <xsd:element name="File_Area" type="pds:File_Area_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File_Area -->
      <xsd:element name="Data_Area_Inventory_LID" type="pds:Data_Area_Inventory_LID_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Area_Inventory_LID -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Identification_Area_Collection_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The collection identification area consists of attributes involved in the role of identifying and naming a collection.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="logical_identifier" type="pds:logical_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:logical_identifier -->
      <xsd:element name="version_id" type="pds:version_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:version_id -->
      <xsd:element name="product_class" type="pds:product_class_Type" fixed="Collection_Secondary" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:product_class -->
      <xsd:element name="title" type="pds:title_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:title -->
      <xsd:element name="alternate_title" type="pds:alternate_title_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_title -->
      <xsd:element name="alternate_id" type="pds:alternate_id_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_id -->
      <xsd:element name="is_primary_collection" type="pds:is_primary_collection_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area_Collection:is_primary_collection -->
      <xsd:element name="last_modification_date_time" type="pds:last_modification_date_time_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:last_modification_date_time -->
      <xsd:element name="product_subclass" type="pds:product_subclass_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:product_subclass -->
      <xsd:element name="Subject_Area" type="pds:Subject_Area_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Subject_Area_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Subject Area provides one or more topics associated with the identifiable using keywords, key phrases, or classification codes.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="target_name" type="pds:target_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:target_name -->
      <xsd:element name="data_set_name" type="pds:data_set_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:data_set_name -->
      <xsd:element name="instrument_name" type="pds:instrument_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_name -->
      <xsd:element name="instrument_host_name" type="pds:instrument_host_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_host_name -->
      <xsd:element name="full_name" type="pds:full_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:full_name -->
      <xsd:element name="investigation_name" type="pds:investigation_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:investigation_name -->
      <xsd:element name="observing_system_name" type="pds:observing_system_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:observing_system_name -->
      <xsd:element name="Name_Resolution" type="pds:Name_Resolution_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Name_Resolution_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Name_Resolution class provides both primary and alternate names of an object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="class_name" type="pds:class_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:class_name -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:lidvid_reference -->
      <xsd:element name="name" type="pds:name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:name -->
      <xsd:element name="primary_name" type="pds:primary_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:primary_name -->
      <xsd:element name="role" type="pds:role_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:role -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Cross_Reference_Area_Collection_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The collection cross reference area provides references to associated registered products.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Bibliographic_Reference" type="pds:Bibliographic_Reference_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference -->
      <xsd:element name="Collection_Reference_Entry" type="pds:Collection_Reference_Entry_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Collection_Reference_Entry -->
      <xsd:element name="Observing_System" type="pds:Observing_System_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Bibliographic_Reference_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Bibliographic Reference  class provides references to documents that are not regisered with the PDS.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Supplemental:local_identifier -->
      <xsd:element name="description" type="pds:description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Supplemental:description -->
      <xsd:element name="doi" type="pds:doi_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:doi -->
      <xsd:element name="reference_text" type="pds:reference_text_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:reference_text -->
      <xsd:element name="url" type="pds:url_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:url -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Collection_Reference_Entry_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Collection Reference Entry class provides a collection specific reference and type information about the reference. The reference is to a product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Collection_Reference_Entry_reference_association_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Collection_Reference_Entry:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing_System class references one or more subsystems used to collect data. A subsystem can be an instrument_host, instrument, or any other similar product. The subsystems are grouped into components, for example a sensor or a source.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:local_identifier -->
      <xsd:element name="description" type="pds:description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Context:description -->
      <xsd:element name="title" type="pds:title_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:title -->
      <xsd:element name="Observing_System_Component" type="pds:Observing_System_Component_Type" minOccurs="1" maxOccurs="2"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System_Component_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing System Component class references one or more subsystems that function as a sensor. A subsystem can be an instrument_host, instrument, or any other similar product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="observing_system_component_type" type="pds:observing_system_component_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:observing_system_component_type -->
      <xsd:element name="Observing_System_Reference_Entry" type="pds:Observing_System_Reference_Entry_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Reference_Entry -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System_Reference_Entry_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing System Reference Entry class provides a product specific reference and type information about the reference. The references are to components of the observing system.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Observing_System_Reference_Entry_reference_association_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Reference_Entry:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="File_Area_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The file area allows the inclusion into a product label of descriptive information  about associated files.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="File" type="pds:File_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="File_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The File class consists of attributes involved in the role of describing a file in a data store.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:comment -->
      <xsd:element name="creation_date_time" type="pds:creation_date_time_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:creation_date_time -->
      <xsd:element name="file_name" type="pds:file_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:file_name -->
      <xsd:element name="file_size" type="pds:file_size_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:file_size -->
      <xsd:element name="max_record_bytes" type="pds:max_record_bytes_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:max_record_bytes -->
      <xsd:element name="md5_checksum" type="pds:md5_checksum_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:md5_checksum -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:records -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Data_Area_Inventory_LID_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Data_Area_Inventory_LID class requires one table character with two fields, one field of which is a LID.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Inventory_LID" type="pds:Inventory_LID_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Inventory_LID -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Inventory_LID_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Inventory_LID class is used to provide LID product references for a secondary collection.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="encoding_type" type="pds:Table_Base_Character_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base_Character:encoding_type -->
      <xsd:element name="fields" type="pds:Inventory_LID_fields_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Inventory_LID:fields -->
      <xsd:element name="record_bytes" type="pds:record_bytes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:record_bytes -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Base:records -->
      <xsd:element name="reference_association_type" type="pds:reference_association_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Inventory_LID:reference_association_type -->
      <xsd:element name="Data_Location" type="pds:Data_Location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Location -->
      <xsd:element name="Table_Record_Inventory_LID" type="pds:Table_Record_Inventory_LID_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Record_Inventory_LID -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Table_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Data_Location_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Data Location class provides the location of a digital object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="file_local_identifier" type="pds:file_local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Location:file_local_identifier -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Location:offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Record_Inventory_LID_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table_Record_Inventory_LID class defines the record of an inventory for a secondary collection.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Table_Field_LID" type="pds:Table_Field_LID_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID -->
      <xsd:element name="Table_Field_File_Specification_Name" type="pds:Table_Field_File_Specification_Name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Field_LID_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table_Field_LID class defines a table field that provides the logical identifier for a product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:Table_Field_LID_field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID:field_name -->
      <xsd:element name="field_number" type="pds:Table_Field_LID_field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Field_LID_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID:field_data_type -->
      <xsd:element name="field_location" type="pds:Table_Field_LID_field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID:field_location -->
      <xsd:element name="field_length" type="pds:field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_length -->
      <xsd:element name="field_format" type="pds:Table_Field_LID_field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_LID:field_format -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Table_Field_File_Specification_Name_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Table_Field_File_Specification_Name class defines a table field that provides a file name, file extension, and relative directory path to a product label.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="field_name" type="pds:Table_Field_File_Specification_Name_field_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_name -->
      <xsd:element name="field_number" type="pds:Table_Field_File_Specification_Name_field_number_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_number -->
      <xsd:element name="field_data_type" type="pds:Table_Field_File_Specification_Name_field_data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_data_type -->
      <xsd:element name="field_location" type="pds:Table_Field_File_Specification_Name_field_location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_location -->
      <xsd:element name="field_length" type="pds:Table_Field_File_Specification_Name_field_length_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_length -->
      <xsd:element name="field_format" type="pds:Table_Field_File_Specification_Name_field_format_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field_File_Specification_Name:field_format -->
      <xsd:element name="field_description" type="pds:field_description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Field:field_description -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Collection_Secondary" type="pds:Collection_Secondary_Type">
    <xsd:annotation>
      <xsd:documentation>
        The Collection_Secondary XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
