preparation/core/src/main/resources/schema/0200B/Detector_0200B.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Detector_0.2.0.0.Beta  Tue Feb 15 13:52:03 PST 2011 -->
  <!-- Generated from the PDS4 Information Model V0.2.0.0.Beta -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="2.0.0">
 
    <xsd:include schemaLocation="Extended_Types_0200B.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0200B.xsd"/> -->

  <xsd:complexType name="Detector_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Detector class provides a description of a phyiscal object that collects data.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="description" type="pds:description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Context:description -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Detector" type="pds:Detector_Type">
    <xsd:annotation>
      <xsd:documentation>
        The Detector XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
