preparation/core/src/main/resources/schema/0200B/Property_Map_0200B.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Property_Map_0.2.0.0.Beta  Tue Feb 15 13:52:03 PST 2011 -->
  <!-- Generated from the PDS4 Information Model V0.2.0.0.Beta -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="2.0.0">
 
    <xsd:include schemaLocation="Extended_Types_0200B.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0200B.xsd"/> -->

  <xsd:complexType name="Property_Map_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Property Map class defines a table consisting of a set of data elements and their values. The data elements in this table are considered to be locally defined and not subject to standards except for nomenclature rules.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="name_space_id" type="pds:name_space_id_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Property_Map:name_space_id -->
      <xsd:element name="Property_Map_Entry" type="pds:Property_Map_Entry_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Property_Map_Entry -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Property_Map_Entry_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The property map entry consists of one property map.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="property_name" type="pds:property_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Property_Map_Entry:property_name -->
      <xsd:element name="property_value" type="pds:property_value_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Property_Map_Entry:property_value -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Property_Map" type="pds:Property_Map_Type">
    <xsd:annotation>
      <xsd:documentation>
        The Property_Map XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
