preparation/core/src/main/resources/schema/0200B/Rings_Prod_Info_0200B.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Rings_Prod_Info_0.2.0.0.Beta  Tue Feb 15 13:52:03 PST 2011 -->
  <!-- Generated from the PDS4 Information Model V0.2.0.0.Beta -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="2.0.0">
 
    <xsd:include schemaLocation="Extended_Types_0200B.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0200B.xsd"/> -->

  <xsd:complexType name="Rings_Prod_Info_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          This class identifies the set of elements pertinent to Rings products.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="node_name" type="pds:node_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:node_name -->
      <xsd:element name="incidence_angle" type="pds:incidence_angle_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:incidence_angle -->
      <xsd:element name="maximum_ring_radius" type="pds:maximum_ring_radius_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:maximum_ring_radius -->
      <xsd:element name="minimum_ring_radius" type="pds:minimum_ring_radius_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:minimum_ring_radius -->
      <xsd:element name="node_id" type="pds:node_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:node_id -->
      <xsd:element name="occultation_type" type="pds:occultation_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:occultation_type -->
      <xsd:element name="planetary_occultation_flag" type="pds:planetary_occultation_flag_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:planetary_occultation_flag -->
      <xsd:element name="radial_resolution" type="pds:radial_resolution_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:radial_resolution -->
      <xsd:element name="ring_event_start_time" type="pds:ring_event_start_time_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:ring_event_start_time -->
      <xsd:element name="ring_event_stop_time" type="pds:ring_event_stop_time_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:ring_event_stop_time -->
      <xsd:element name="ring_occultation_direction" type="pds:ring_occultation_direction_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:ring_occultation_direction -->
      <xsd:element name="star_name" type="pds:star_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:star_name -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Rings_Prod_Info" type="pds:Rings_Prod_Info_Type">
    <xsd:annotation>
      <xsd:documentation>
        The Rings_Prod_Info XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
