portal/ds-view/src/main/webapp/dtd/generalDescriptor.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT generalDescriptor (descriptor*)>

<!ELEMENT descriptor 
	(name, definition, obligation, dataType, maxSize, shortName, comment?)>

    <!ELEMENT name (#PCDATA)>
    <!ELEMENT definition (#PCDATA)>
    <!ELEMENT obligation (#PCDATA)>
    <!ELEMENT dataType (#PCDATA)>
    <!ELEMENT maxSize (#PCDATA)>
    <!ELEMENT shortName (#PCDATA)>
    <!ELEMENT comment (#PCDATA)>
