portal/ds-view/src/main/webapp/dtd/odlValidation.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Gerald Crichton (Jet Propulsion Laboratory) -->
<!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT file (#PCDATA)>
<!ELEMENT host (#PCDATA)>
<!ELEMENT xsd (#PCDATA)>
<!ELEMENT includeFile (#PCDATA)>
<!ELEMENT errorMessage (#PCDATA)>
<!ELEMENT numberErrors (#PCDATA)>
<!ELEMENT numberWarnings (#PCDATA)>
<!ELEMENT odlValidation (product, syntaxValidation?, semanticValidation?)>
<!ELEMENT product (host, xsd, file, includeFile*, errorMessage?, numberErrors, numberWarnings)>
<!ELEMENT semanticValidation (errorMessage*, numberErrors, numberWarnings)>
<!ELEMENT syntaxValidation (errorMessage*, numberErrors, numberWarnings)>
