tools/core/src/main/resources/schema/0111c/Product_Image_Grayscale_0111c.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Product_Image_Grayscale_0.1.1.1.c  Sat Oct 23 08:24:58 PDT 2010 -->
  <!-- Generated from the PDS4 Information Model V0.1.1.1.c -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.1.1">
 
    <xsd:include schemaLocation="Extended_Types_0111c.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0111c.xsd"/> -->

  <xsd:complexType name="Product_Image_Grayscale_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Product Image Grayscale class defines a product consisting of at least one grayscale image and other associated data objects and metadata.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Identification_Area_Product" type="pds:Identification_Area_Product_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area_Product -->
      <xsd:element name="Cross_Reference_Area_Product" type="pds:Cross_Reference_Area_Product_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Cross_Reference_Area_Product -->
      <xsd:element name="Observation_Area" type="pds:Observation_Area_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area -->
      <xsd:element name="File_Area" type="pds:File_Area_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File_Area -->
      <xsd:element name="Data_Area_Image_Grayscale" type="pds:Data_Area_Image_Grayscale_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Area_Image_Grayscale -->
      <xsd:element name="Data_Area_Alternate" type="pds:Data_Area_Alternate_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Area_Alternate -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Identification_Area_Product_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The product identification area consists of attributes involved in the role of identifying and naming a data product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="logical_identifier" type="pds:logical_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:logical_identifier -->
      <xsd:element name="version_id" type="pds:version_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:version_id -->
      <xsd:element name="product_class" type="pds:product_class_Type" fixed="Product_Image_Grayscale" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:product_class -->
      <xsd:element name="title" type="pds:title_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:title -->
      <xsd:element name="alternate_title" type="pds:alternate_title_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_title -->
      <xsd:element name="alternate_id" type="pds:alternate_id_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_id -->
      <xsd:element name="last_modification_date_time" type="pds:last_modification_date_time_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:last_modification_date_time -->
      <xsd:element name="product_subclass" type="pds:product_subclass_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:product_subclass -->
      <xsd:element name="Subject_Area" type="pds:Subject_Area_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Subject_Area_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Subject Area provides one or more topics associated with the identifiable using keywords, key phrases, or classification codes.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="target_name" type="pds:target_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:target_name -->
      <xsd:element name="instrument_name" type="pds:instrument_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_name -->
      <xsd:element name="instrument_host_name" type="pds:instrument_host_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_host_name -->
      <xsd:element name="full_name" type="pds:full_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:full_name -->
      <xsd:element name="investigation_name" type="pds:investigation_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:investigation_name -->
      <xsd:element name="observing_system_name" type="pds:observing_system_name_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:observing_system_name -->
      <xsd:element name="Name_Resolution" type="pds:Name_Resolution_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Name_Resolution_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Name_Resolution class provides both primary and alternate names of an object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="class_name" type="pds:class_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:class_name -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:lidvid_reference -->
      <xsd:element name="name" type="pds:name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:name -->
      <xsd:element name="primary_name" type="pds:primary_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:primary_name -->
      <xsd:element name="role" type="pds:role_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:role -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Cross_Reference_Area_Product_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The product cross reference area provides references for registered products associated with this product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Bibliographic_Reference" type="pds:Bibliographic_Reference_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference -->
      <xsd:element name="Observing_System" type="pds:Observing_System_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System -->
      <xsd:element name="Product_Reference_Entry" type="pds:Product_Reference_Entry_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Product_Reference_Entry -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Bibliographic_Reference_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Bibliographic Reference  class provides references to documents that are not regisered with the PDS.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Supplemental:local_identifier -->
      <xsd:element name="description" type="pds:description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Supplemental:description -->
      <xsd:element name="doi" type="pds:doi_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:doi -->
      <xsd:element name="reference_text" type="pds:reference_text_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:reference_text -->
      <xsd:element name="url" type="pds:url_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:url -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing_System class references one or more subsystems used to collect data. A subsystem can be an instrument_host, instrument, or any other similar product. The subsystems are grouped into components, for example a sensor or a source.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:local_identifier -->
      <xsd:element name="description" type="pds:description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Context:description -->
      <xsd:element name="title" type="pds:title_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:title -->
      <xsd:element name="Observing_System_Component" type="pds:Observing_System_Component_Type" minOccurs="1" maxOccurs="2"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System_Component_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing System Component class references one or more subsystems that function as a sensor. A subsystem can be an instrument_host, instrument, or any other similar product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="observing_system_component_type" type="pds:observing_system_component_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:observing_system_component_type -->
      <xsd:element name="Observing_System_Reference_Entry" type="pds:Observing_System_Reference_Entry_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Reference_Entry -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System_Reference_Entry_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing System Reference Entry class provides a product specific reference and type information about the reference. The references are to components of the observing system.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Observing_System_Reference_Entry_reference_association_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Reference_Entry:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Product_Reference_Entry_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Product Reference Entry class provides a product specific reference and type information about the reference. The reference is to a product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Product_Reference_Entry_reference_association_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Product_Reference_Entry:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observation_Area_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The observation area consists of attributes in the role of providing information about the circumstances under which the data were collected.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:comment -->
      <xsd:element name="spacecraft_clock_start_count" type="pds:spacecraft_clock_start_count_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:spacecraft_clock_start_count -->
      <xsd:element name="spacecraft_clock_stop_count" type="pds:spacecraft_clock_stop_count_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:spacecraft_clock_stop_count -->
      <xsd:element name="start_date_time" type="pds:start_date_time_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:start_date_time -->
      <xsd:element name="stop_date_time" type="pds:stop_date_time_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:stop_date_time -->
      <xsd:element name="Mission_Area" type="pds:Mission_Area_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Mission_Area -->
      <xsd:element name="Node_Area" type="pds:Node_Area_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Node_Area -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Mission_Area_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The mission area allow the insertion of mission specific metadata.
        </xsd:documentation>
      </xsd:annotation>
      <!-- When creating a specific XML schema, remove the 'xsd:any' element. You may insert any described nondigital object, one or more times. -->
      <xsd:any minOccurs="0"/>
      <!-- <xsd:element name="Any_NonDigital_Object" type="pds:Any_NonDigital_Object_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element> -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Node_Area_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The node area allow the insertion of node specific metadata.
        </xsd:documentation>
      </xsd:annotation>
      <!-- When creating a specific XML schema, remove the 'xsd:any' element. You may insert any described nondigital object, one or more times. -->
      <xsd:any minOccurs="0"/>
      <!-- <xsd:element name="Any_NonDigital_Object" type="pds:Any_NonDigital_Object_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element> -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="File_Area_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The file area allows the inclusion into a product label of descriptive information  about associated files.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="File" type="pds:File_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="File_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The File class consists of attributes involved in the role of describing a file in a data store.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:comment -->
      <xsd:element name="creation_date_time" type="pds:creation_date_time_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:creation_date_time -->
      <xsd:element name="file_name" type="pds:file_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:file_name -->
      <xsd:element name="file_size" type="pds:file_size_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:file_size -->
      <xsd:element name="max_record_bytes" type="pds:max_record_bytes_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:max_record_bytes -->
      <xsd:element name="md5_checksum" type="pds:md5_checksum_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:md5_checksum -->
      <xsd:element name="records" type="pds:records_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:records -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Data_Area_Image_Grayscale_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Image Grayscale Data Area requires at least one image grayscale digital object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Image_Grayscale" type="pds:Image_Grayscale_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_Grayscale -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Image_Grayscale_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Image Grayscale class is an extension of array_base and defines a  two dimensional grayscale image.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TDO_Structures:comment -->
      <xsd:element name="axes" type="pds:Array_2D_axes_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_2D:axes -->
      <xsd:element name="axis_order" type="pds:Image_Grayscale_axis_order_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_Grayscale:axis_order -->
      <xsd:element name="encoding_type" type="pds:Array_Base_encoding_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Base:encoding_type -->
      <xsd:element name="Data_Location" type="pds:Data_Location_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Location -->
      <xsd:element name="Object_Statistics" type="pds:Object_Statistics_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics -->
      <xsd:element name="Special_Constants" type="pds:Special_Constants_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants -->
      <xsd:element name="Array_Axis" type="pds:Array_Axis_Type" minOccurs="2" maxOccurs="2"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis -->
      <xsd:element name="Array_Element" type="pds:Array_Element_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element -->
      <xsd:element name="Image_2D_Display" type="pds:Image_2D_Display_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_2D_Display -->
    </xsd:sequence>
    <xsd:attribute name="base_class" type="xsd:string" fixed="Array_Base"> </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Data_Location_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Data Location class provides the location of a digital object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="file_local_identifier" type="pds:file_local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Location:file_local_identifier -->
      <xsd:element name="offset" type="pds:offset_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Location:offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Object_Statistics_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Object Statistics class provides a set of values that provide metrics about the object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Supplemental:local_identifier -->
      <xsd:element name="description" type="pds:description_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Supplemental:description -->
      <xsd:element name="maximum" type="pds:maximum_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:maximum -->
      <xsd:element name="md5_checksum" type="pds:md5_checksum_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:md5_checksum -->
      <xsd:element name="mean" type="pds:mean_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:mean -->
      <xsd:element name="median" type="pds:median_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:median -->
      <xsd:element name="minimum" type="pds:minimum_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:minimum -->
      <xsd:element name="sample_bit_mask" type="pds:sample_bit_mask_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:sample_bit_mask -->
      <xsd:element name="standard_deviation" type="pds:standard_deviation_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Object_Statistics:standard_deviation -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Special_Constants_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Special Constants class provides a set of values used to indicate special cases that occur in the data.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="error_constant" type="pds:error_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:error_constant -->
      <xsd:element name="invalid_constant" type="pds:invalid_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:invalid_constant -->
      <xsd:element name="missing_constant" type="pds:missing_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:missing_constant -->
      <xsd:element name="not_applicable_constant" type="pds:not_applicable_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:not_applicable_constant -->
      <xsd:element name="saturated_constant" type="pds:saturated_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:saturated_constant -->
      <xsd:element name="unknown_constant" type="pds:unknown_constant_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Special_Constants:unknown_constant -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Array_Axis_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Array Axis class is used as a component of the array class and defines an axis of the array.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="elements" type="pds:elements_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis:elements -->
      <xsd:element name="name" type="pds:name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis:name -->
      <xsd:element name="sequence_number" type="pds:sequence_number_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis:sequence_number -->
      <xsd:element name="unit" type="pds:unit_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Axis:unit -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Array_Element_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Array Element class is used as a component of the array class and defines an element of the array.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="data_type" type="pds:data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element:data_type -->
      <xsd:element name="scaling_factor" type="pds:scaling_factor_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element:scaling_factor -->
      <xsd:element name="unit" type="pds:unit_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element:unit -->
      <xsd:element name="value_offset" type="pds:value_offset_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_Element:value_offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Image_2D_Display_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Image_2D_Display class provides attributes to enable the display of a 2D image.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="first_line" type="pds:first_line_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_2D_Display:first_line -->
      <xsd:element name="first_line_sample" type="pds:first_line_sample_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_2D_Display:first_line_sample -->
      <xsd:element name="line_display_direction" type="pds:line_display_direction_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_2D_Display:line_display_direction -->
      <xsd:element name="sample_display_direction" type="pds:sample_display_direction_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Image_2D_Display:sample_display_direction -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Data_Area_Alternate_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Data Area Alternate allows the inclusion of any Data Object Description.
        </xsd:documentation>
      </xsd:annotation>
      <!-- When creating a specific XML schema, remove the 'xsd:any' element. You may insert any described data object, one or more times. -->
      <xsd:any minOccurs="0"/>
      <!-- <xsd:element name="Any_Data_Object" type="pds:Any_Data_Object_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element> -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Tagged_Digital_Object_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Tagged Digital Object class is an abstract class for the digital class hierarchy. A tagged object is an information object.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Product_Image_Grayscale" type="pds:Product_Image_Grayscale_Type">
    <xsd:annotation>
      <xsd:documentation>
        The Product_Image_Grayscale XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
