model/LDDTool/Examples/RegessionTests/Qube_ChoiceAttr/IngestLDDTool_Regression_QubeBandBin_choice_RTQBB_1000.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Name Space Id:rtqbb  Version:1.0.0.0 - Mon Nov 30 10:24:24 PST 2015 -->
  <!-- Generated from the PDS4 Information Model Version 1.5.1.0 - System Build 6a -->
  <!-- *** This PDS4 product schema is an operational deliverable. *** -->
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/pds4/rtqbb/v1"
    xmlns:rtqbb="http://pds.nasa.gov/pds4/rtqbb/v1"
    xmlns:pds="http://pds.nasa.gov/pds4/pds/v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0.0.0">
 
    <xs:import namespace="http://pds.nasa.gov/pds4/pds/v1" schemaLocation="http://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1510.xsd"/>
 
  <xs:annotation>
    <xs:documentation>This is a regresion test developed from a version
      of the the Qube Band_Bin and Band_Bin_Set. a) The class and
      attribute names are altered since they had been previously
      ingested. Three existing attributes are
      referenced.</xs:documentation>
  </xs:annotation>
 
  <xs:element name="Band_Bin_Any_1" type="rtqbb:Band_Bin_Any_1"> </xs:element>
  <xs:element name="Band_Bin_Choice_1" type="rtqbb:Band_Bin_Choice_1"> </xs:element>
  <xs:element name="Band_Bin_Choice_2" type="rtqbb:Band_Bin_Choice_2"> </xs:element>
  <xs:element name="Band_Bin_RTQBB130614" type="rtqbb:Band_Bin_RTQBB130614"> </xs:element>
  <xs:element name="Band_Bin_Set_RTQBB130614" type="rtqbb:Band_Bin_Set_RTQBB130614"> </xs:element>
  <xs:element name="Band_Bin_Set_RTQBB130614_Choice" type="rtqbb:Band_Bin_Set_RTQBB130614_Choice"> </xs:element>

  <xs:complexType name="Band_Bin_Any_1">
    <xs:annotation>
      <xs:documentation>The Band_Bin class specifies the characteristics
        of an individual spectral band in a spectral
        qube.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Band_Bin_Choice_1">
    <xs:annotation>
      <xs:documentation>The Band_Bin class specifies the characteristics
        of an individual spectral band in a spectral
        qube.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="band_number_RTQBB130614" type="rtqbb:band_number_RTQBB130614" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="band_width_RTQBB130614" type="rtqbb:band_width_RTQBB130614" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="center_wavelength_RTQBB130614" type="rtqbb:center_wavelength_RTQBB130614" minOccurs="1" maxOccurs="1"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Band_Bin_Choice_2">
    <xs:annotation>
      <xs:documentation>The Band_Bin class specifies the characteristics
        of an individual spectral band in a spectral
        qube.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="scaling_factor" type="pds:scaling_factor" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="standard_deviation" type="pds:standard_deviation" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="value_offset" type="pds:value_offset" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Band_Bin_RTQBB130614">
    <xs:annotation>
      <xs:documentation>The Band_Bin class specifies the characteristics
        of an individual spectral band in a spectral
        qube.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="band_number_RTQBB130614" type="rtqbb:band_number_RTQBB130614" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="band_width_RTQBB130614" type="rtqbb:band_width_RTQBB130614" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="center_wavelength_RTQBB130614" type="rtqbb:center_wavelength_RTQBB130614" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="detector_number_RTQBB130614" type="rtqbb:detector_number_RTQBB130614" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="filter_number_RTQBB130614" type="rtqbb:filter_number_RTQBB130614" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="grating_position_RTQBB130614" type="rtqbb:grating_position_RTQBB130614" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="original_band_RTQBB130614" nillable="true" type="rtqbb:original_band_RTQBB130614" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="scaling_factor" type="pds:scaling_factor" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="standard_deviation" type="pds:standard_deviation" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="value_offset" type="pds:value_offset" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element name="band_number_RTQBB130614_choice" type="rtqbb:band_number_RTQBB130614_choice" minOccurs="0" maxOccurs="1"> </xs:element>
        <xs:element name="original_band_RTQBB130614_choice" nillable="true" type="rtqbb:original_band_RTQBB130614_choice" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Band_Bin_Set_RTQBB130614">
    <xs:annotation>
      <xs:documentation>The Band_Bin_Set class contains the spectral
        characteristics for all the spectral bands in a
        qube.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Band_Bin_RTQBB130614" type="rtqbb:Band_Bin_RTQBB130614" minOccurs="1" maxOccurs="unbounded"> </xs:element>
      <xs:element name="Vector_Cartesian_3_Pointing" type="pds:Vector_Cartesian_3_Pointing" minOccurs="1" maxOccurs="unbounded"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Band_Bin_Set_RTQBB130614_Choice">
    <xs:annotation>
      <xs:documentation>The Band_Bin_Set class contains the spectral
        characteristics for all the spectral bands in a
        qube.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
      </xs:choice>
      <xs:element name="Band_Bin_Any_1" type="rtqbb:Band_Bin_Any_1" minOccurs="1" maxOccurs="unbounded"> </xs:element>
    </xs:sequence>
  </xs:complexType>

    <xs:annotation>
      <xs:documentation>This section contains the simpleTypes that provide more constraints
        than those at the base data type level. The simpleTypes defined here build on the base data
        types. This is another component of the common dictionary and therefore falls within the
        pds namespace.
      </xs:documentation>
    </xs:annotation>

  <xs:simpleType name="band_number_RTQBB130614">
    <xs:annotation>
      <xs:documentation>The band_number attribute provides a number
        corresponding to the band in the spectral qube. The band number
        is equivalent to the instrument band number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="1"/>
     <xs:maxInclusive value="512"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="band_number_RTQBB130614_choice">
    <xs:annotation>
      <xs:documentation>The band_number attribute provides a number
        corresponding to the band in the spectral qube. The band number
        is equivalent to the instrument band number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="1"/>
     <xs:maxInclusive value="512"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="band_width_RTQBB130614_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="band_width_RTQBB130614">
    <xs:annotation>
      <xs:documentation>The band_width attributes provides the width, at
        half height, of the band.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="rtqbb:band_width_RTQBB130614_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="center_wavelength_RTQBB130614_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="center_wavelength_RTQBB130614">
    <xs:annotation>
      <xs:documentation>The center_wavelength attribute provides the
        wavelength or frequency describing the center of a bin along the
        band axis of a spectral qube. When describing data from a
        spectrometer, the value corresponds to the peak of the response
        function for a particular detector and/or grating
        position.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="rtqbb:center_wavelength_RTQBB130614_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="detector_number_RTQBB130614">
    <xs:annotation>
      <xs:documentation>The detector_number attribute provides the
        spectrometer detector number corresponding to a band of a
        spectral qube. Detector numbers are usually assigned
        consecutively from 1, in order of increasing
        wavelength.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="1"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="filter_number_RTQBB130614">
    <xs:annotation>
      <xs:documentation>The filter_number attribute of a spectral qube
        describes the physical location of a band (identified by the
        band_number) in a detector array. Filter 1 is on the leading
        edge of the array.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="1"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="grating_position_RTQBB130614">
    <xs:annotation>
      <xs:documentation>The grating_position attribute of a spectral
        qube describes the grating position which corresponds to the
        band. Grating positions are usually assigned consecutively from
        0, and increasing position causes increasing wavelength for each
        detector.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="original_band_RTQBB130614">
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="original_band_RTQBB130614_choice">
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
 
  <xs:annotation>
    <xs:documentation>
[
  {
    "dataDictionary": {
      "Title": "PDS4 Data Dictionary" ,
      "Version": "1.5.1.0" ,
      "Date": "Mon Nov 30 10:24:24 PST 2015" ,
      "Description": "This document is a dump of the contents of the PDS4 Data Dictionary" ,
      "PropertyMapDictionary": [
      ]
    }
  }
]
    </xs:documentation>
  </xs:annotation>
</xs:schema>
