ames/lace/src/test/resources/project-tests/project-root-with-users/projects/user2-with-projects/projects/label2/schema/planet.xsd

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://ti.arc.nasa.gov/uct/pds/planet/v1"
    xmlns="http://ti.arc.nasa.gov/uct/pds/planet/v1"
    elementFormDefault="qualified">

<xs:element name="planet">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="mass" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
