ames/lace/src/test/resources/schema/test/PDS4_MGS_0001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- PDS4 XML/Schema for Mars Global Surveyor Dictionary -->
<!-- Generated from the PDS4_Mars_Global_Surveyor_0001_20131118130910.xml Ingest_LDD file -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/pds4/mission/mgs/v0"
    xmlns:mgs="http://pds.nasa.gov/pds4/mission/mgs/v0"
    xmlns:pds="http://pds.nasa.gov/pds4/pds/v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.0.0.1">
    
    <xs:annotation>
        <xs:documentation>The Mars Global Surveyor mission
            dictionary.</xs:documentation>
    </xs:annotation>
    
    <xs:import namespace="http://pds.nasa.gov/pds4/pds/v1"
        schemaLocation="http://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1101.xsd"/>

    <xs:element name="edit_mode_id" type="mgs:edit_mode_id"/>
    <xs:element name="instrument_id" type="mgs:instrument_id"/>
    <xs:element name="line_exposure_duration" type="mgs:line_exposure_duration"/>
    <xs:element name="mission_phase_name" type="mgs:mission_phase_name"/>
    <xs:element name="spacecraft_clock_start_count" type="mgs:spacecraft_clock_start_count"/>
    <xs:element name="upload_id" type="mgs:upload_id"/>
    
    <xs:simpleType name="edit_mode_id">
        <xs:annotation>
            <xs:documentation>The edit mode is the first pixel of the CCD sampled 
                for the image acquisition, and thus specifies the off-nadir look 
                angle.  For WA products, the special value 3456 indicates that the 
                leading dark reference pixels were acquired as the first eight 
                pixels of each line; the special value 3472 indicates that the 
                trailing dark reference pixels were acquired as the last eight 
                pixels of each line.  For WA products, if dark pixels were acquired 
                and compression was enabled, the dark reference pixels are 
                compressed and included in the data.  An edit_mode_id value of "0" 
                refers to the first pixel in the array.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="pds:ASCII_Integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="instrument_id">
        <xs:annotation>
            <xs:documentation>The instrument_id element provides an abbreviated
                name or acronym which identifies an instrument.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="pds:ASCII_Short_String_Collapsed"/>
    </xs:simpleType>

    <xs:simpleType name="line_exposure_duration_WO_Units">
        <xs:restriction base="pds:ASCII_Real">
            <xs:minInclusive value="0.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="line_exposure_duration">
        <xs:annotation>
            <xs:documentation>Per-line exposure duration in  units  of  milliseconds.
                The time a given line was acquired can be determined by multiplying 
                the line exposure time  by  the  number  of previous  lines  and 
                adding it to the image start time.  Note  that  the  NA  implements  
                downtrack  summing  by increasing  the  line  time;  for example, 
                a 2X2 summed image has an actual line time twice that given by  this
                field.   Similarly,  the gain is adjusted appropriately for summed NA 
                images; for example, a 2X2 summed image's gain is reduced by a factor 
                of 2.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="pds:ASCII_Real">
                <xs:attribute name="unit" type="pds:Units_of_Time"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:simpleType name="mission_phase_name">
        <xs:annotation>
            <xs:documentation>The mission_phase_name attribute provides the commonly
                used name of a mission phase.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="pds:ASCII_Short_String_Collapsed">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="spacecraft_clock_start_count">
        <xs:annotation>
            <xs:documentation>The spacecraft_clock_start_count attribute provides
                the value of the spacecraft clock at the beginning of a time period
                of interest.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="pds:ASCII_Short_String_Collapsed">
            <xs:pattern value=""></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="upload_id">
        <xs:annotation>
            <xs:documentation>Identifier of the version of the MOC flight software
                used to acquire this image.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="pds:ASCII_Short_String_Collapsed">
            <xs:minLength value="12"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
