preparation/core/src/main/resources/schema/0300A/Local_DD_0300A.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Local_DD_0.3.0.0.Alpha  Mon Mar 21 16:24:02 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.3.0.0.Alpha -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="3.0.0">
 
    <xsd:include schemaLocation="Class_Types_0300A.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0300A.xsd"/> -->

  <xsd:complexType name="Local_DD_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Local_DD class defines a local data dictionary.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_DD:comment -->
      <xsd:element name="version_id" type="pds:version_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_DD:version_id -->
      <xsd:element name="registration_authority_id" type="pds:registration_authority_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_DD:registration_authority_id -->
      <xsd:element name="steward_id" type="pds:steward_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_DD:steward_id -->
      <xsd:element name="name_space_id" type="pds:name_space_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_DD:name_space_id -->
      <xsd:element name="full_name" type="pds:full_name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_DD:full_name -->
      <xsd:element name="last_modification_date_time" type="pds:last_modification_date_time_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_DD:last_modification_date_time -->
      <xsd:element name="pds4_merge_flag" type="pds:pds4_merge_flag_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_DD:pds4_merge_flag -->
      <xsd:element name="Local_Attribute" type="pds:Local_Attribute_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Attribute -->
      <xsd:element name="Local_Class" type="pds:Local_Class_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Class -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Local_Attribute_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Local_Attribute class defines an attribute for a local data dictionary.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Attribute:comment -->
      <xsd:element name="definition" type="pds:definition_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Attribute:definition -->
      <xsd:element name="data_type" type="pds:data_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Attribute:data_type -->
      <xsd:element name="minimum_value" type="pds:minimum_value_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Attribute:minimum_value -->
      <xsd:element name="maximum_value" type="pds:maximum_value_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Attribute:maximum_value -->
      <xsd:element name="pattern" type="pds:pattern_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Attribute:pattern -->
      <xsd:element name="local_attribute_id" type="pds:local_attribute_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Attribute:local_attribute_id -->
      <xsd:element name="name" type="pds:name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Attribute:name -->
      <xsd:element name="unit_of_measure_type" type="pds:unit_of_measure_type_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Attribute:unit_of_measure_type -->
      <xsd:element name="Local_Value_Domain" type="pds:Local_Value_Domain_Type" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Value_Domain -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Local_Value_Domain_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Local_Value_Domain class defines a value and an optional definition for an attribute in a local data dictionary.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="value" type="pds:value_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Value_Domain:value -->
      <xsd:element name="value_meaning" type="pds:value_meaning_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Value_Domain:value_meaning -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Local_Class_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Local_Class class defines a user class, a collection of attributes in a local data dictionary.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="description" type="pds:description_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Class:description -->
      <xsd:element name="name" type="pds:name_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Class:name -->
      <xsd:element name="Local_Association" type="pds:Local_Association_Type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Association -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Local_Association_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Local_Association class defines the membership between a class and an attribute in a local data dictionary.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="constant_value" type="pds:constant_value_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Association:constant_value -->
      <xsd:element name="local_attribute_id" type="pds:local_attribute_id_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Association:local_attribute_id -->
      <xsd:element name="maximum_occurrences" type="pds:maximum_occurrences_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Association:maximum_occurrences -->
      <xsd:element name="minimum_occurrences" type="pds:minimum_occurrences_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Local_Association:minimum_occurrences -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Local_DD" type="pds:Local_DD_Type">
    <xsd:annotation>
      <xsd:documentation>
        The Local_DD XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
