preparation/core/src/main/resources/schema/0300A/Telemetry_Parameters_0300A.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Telemetry_Parameters_0.3.0.0.Alpha  Mon Mar 21 16:24:02 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.3.0.0.Alpha -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="3.0.0">
 
    <xsd:include schemaLocation="Class_Types_0300A.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0300A.xsd"/> -->

  <xsd:complexType name="Telemetry_Parameters_Type">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          Descriptive elements related to the flow of data from a spacecraft to the ground for reconstruction into a data product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier_Type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="application_process_id" type="pds:application_process_id_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:application_process_id -->
      <xsd:element name="application_process_name" type="pds:application_process_name_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:application_process_name -->
      <xsd:element name="application_process_subtype_id" type="pds:application_process_subtype_id_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:application_process_subtype_id -->
      <xsd:element name="earth_received_start_time" type="pds:earth_received_start_time_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:earth_received_start_time -->
      <xsd:element name="earth_received_stop_time" type="pds:earth_received_stop_time_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:earth_received_stop_time -->
      <xsd:element name="expected_packets" type="pds:expected_packets_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:expected_packets -->
      <xsd:element name="packet_map_mask" type="pds:packet_map_mask_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:packet_map_mask -->
      <xsd:element name="received_packets" type="pds:received_packets_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:received_packets -->
      <xsd:element name="spice_file_name" type="pds:spice_file_name_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:spice_file_name -->
      <xsd:element name="telemetry_provider_id" type="pds:telemetry_provider_id_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:telemetry_provider_id -->
      <xsd:element name="telemetry_source_name" type="pds:telemetry_source_name_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:telemetry_source_name -->
      <xsd:element name="telemetry_source_type" type="pds:telemetry_source_type_Type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:telemetry_source_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Telemetry_Parameters" type="pds:Telemetry_Parameters_Type">
    <xsd:annotation>
      <xsd:documentation>
        The Telemetry_Parameters XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
