preparation/pds4-tools/src/test/resources/1000/PDS4_PDS_1000.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  startMode="root">
  
  <!-- The root element must be from the PDS namespace. -->
  <mode name="root">
    <namespace ns="http://pds.nasa.gov/pds4/pds/v1">
      <validate schema="PDS4_PDS_1000.xsd" useMode="body" />
      <validate schema="PDS4_PDS_1000.sch" useMode="body" />
    </namespace>
  </mode>
  
  <!-- Any other namespaces in descendant elements are not validated. -->
  <mode name="body">
    <anyNamespace>
      <allow />
    </anyNamespace>
  </mode>
  
</rules>
