preparation/core/src/main/resources/schema/0411f/Az_el_coordinate_system_0411f.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Az_el_coordinate_system_0.4.1.1.f  Sat Aug 27 06:57:16 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.4.1.1.f -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v04"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v04"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.4.1.1">
 
    <xsd:include schemaLocation="Class_Types_0411f.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0411f.xsd"/> -->

  <xsd:complexType name="Az_el_coordinate_system">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="coordinate_system_name" type="pds:coordinate_system_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coordinate_System:coordinate_system_name -->
      <xsd:element name="positive_azimuth_direction" type="pds:positive_azimuth_direction" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Az_el_coordinate_system:positive_azimuth_direction -->
      <xsd:element name="positive_elevation_direction" type="pds:positive_elevation_direction" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Az_el_coordinate_system:positive_elevation_direction -->
      <xsd:element name="reference_coordinate_system_name" type="pds:reference_coordinate_system_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Az_el_coordinate_system:reference_coordinate_system_name -->
      <xsd:element name="Origin_Offset_Vector" type="pds:Origin_Offset_Vector" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Origin_Offset_Vector -->
      <xsd:element name="Origin_Rotation_Quaternion" type="pds:Origin_Rotation_Quaternion" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Origin_Rotation_Quaternion -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Origin_Offset_Vector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Origin_Rotation_Quaternion">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="cosine" type="pds:cosine" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Quaternion:cosine -->
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Quaternion:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Quaternion:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Quaternion:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Az_el_coordinate_system" type="pds:Az_el_coordinate_system">
    <xsd:annotation>
      <xsd:documentation>
        The Az_el_coordinate_system XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
