preparation/core/src/main/resources/schema/0411f/CAHVOR_0411f.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for CAHVOR_0.4.1.1.f  Sat Aug 27 06:57:16 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.4.1.1.f -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v04"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v04"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.4.1.1">
 
    <xsd:include schemaLocation="Class_Types_0411f.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0411f.xsd"/> -->

  <xsd:complexType name="CAHVOR">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          Built upon the CAHV camera model, but also allows for cameras with radial lens distortion about the lens axis. (See Gennery, D. B. 1993)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="Axis_Vector" type="pds:Axis_Vector" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Axis_Vector -->
      <xsd:element name="Center_Vector" type="pds:Center_Vector" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Center_Vector -->
      <xsd:element name="Coefficients_Array" type="pds:Coefficients_Array" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array -->
      <xsd:element name="Coordinate_System" type="pds:Coordinate_System" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coordinate_System -->
      <xsd:element name="Horizontal_Vector" type="pds:Horizontal_Vector" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Horizontal_Vector -->
      <xsd:element name="Vector" type="pds:Vector" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector -->
      <xsd:element name="Vertical_Vector" type="pds:Vertical_Vector" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vertical_Vector -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Axis_Vector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          A vector defining the camera axis, which is normal to the image plane.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Center_Vector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Coefficients_Array">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          An array providing the coefficients of a polynomial
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="coefficient_1" type="pds:coefficient_1" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array:coefficient_1 -->
      <xsd:element name="coefficient_2" type="pds:coefficient_2" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array:coefficient_2 -->
      <xsd:element name="coefficient_3" type="pds:coefficient_3" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coefficients_Array:coefficient_3 -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Coordinate_System">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="coordinate_system_name" type="pds:coordinate_system_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coordinate_System:coordinate_system_name -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Horizontal_Vector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Vector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          Provides the coordinates of a point (x, y, z) in Cartesian space relative to the origin of a reference frame, thereby providing the magnitude and direction of a line from the origin to that point.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Vertical_Vector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="CAHVOR" type="pds:CAHVOR">
    <xsd:annotation>
      <xsd:documentation>
        The CAHVOR XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
