preparation/core/src/main/resources/schema/0411f/CAHV_0411f.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for CAHV_0.4.1.1.f  Sat Aug 27 06:57:16 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.4.1.1.f -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v04"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v04"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.4.1.1">
 
    <xsd:include schemaLocation="Class_Types_0411f.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0411f.xsd"/> -->

  <xsd:complexType name="CAHV">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          A camera model, designed at JPL, equivalent to the standard linear photogrammetric model for a pinhole camera. It is useful for very small field of view cameras and as a building block for more complex camera models. (Madison et. al., 2005)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="Axis_Vector" type="pds:Axis_Vector" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Axis_Vector -->
      <xsd:element name="Center_Vector" type="pds:Center_Vector" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Center_Vector -->
      <xsd:element name="Coordinate_System" type="pds:Coordinate_System" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coordinate_System -->
      <xsd:element name="Horizontal_Vector" type="pds:Horizontal_Vector" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Horizontal_Vector -->
      <xsd:element name="Vertical_Vector" type="pds:Vertical_Vector" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vertical_Vector -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Axis_Vector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          A vector defining the camera axis, which is normal to the image plane.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Center_Vector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Coordinate_System">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="coordinate_system_name" type="pds:coordinate_system_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Coordinate_System:coordinate_system_name -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Horizontal_Vector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Vertical_Vector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="x" type="pds:x" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:x -->
      <xsd:element name="y" type="pds:y" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:y -->
      <xsd:element name="z" type="pds:z" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Vector:z -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="CAHV" type="pds:CAHV">
    <xsd:annotation>
      <xsd:documentation>
        The CAHV XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
