preparation/core/src/main/resources/schema/0411f/Camera_Parameters_0411f.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Camera_Parameters_0.4.1.1.f  Sat Aug 27 06:57:16 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.4.1.1.f -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v04"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v04"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.4.1.1">
 
    <xsd:include schemaLocation="Class_Types_0411f.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0411f.xsd"/> -->

  <xsd:complexType name="Camera_Parameters">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          xxx TBD E. Rye xxx
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="edit_mode_id" type="pds:edit_mode_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Camera_Parameters:edit_mode_id -->
      <xsd:element name="exposure_duration" type="pds:exposure_duration" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Camera_Parameters:exposure_duration -->
      <xsd:element name="filter_id" type="pds:filter_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Camera_Parameters:filter_id -->
      <xsd:element name="filter_name" type="pds:filter_name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Camera_Parameters:filter_name -->
      <xsd:element name="gain_mode_id" type="pds:gain_mode_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Camera_Parameters:gain_mode_id -->
      <xsd:element name="scan_mode_id" type="pds:scan_mode_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Camera_Parameters:scan_mode_id -->
      <xsd:element name="shutter_mode_id" type="pds:shutter_mode_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Camera_Parameters:shutter_mode_id -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Camera_Parameters" type="pds:Camera_Parameters">
    <xsd:annotation>
      <xsd:documentation>
        The Camera_Parameters XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
