preparation/core/src/main/resources/schema/0411f/Image_Map_Projection_0411f.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Image_Map_Projection_0.4.1.1.f  Sat Aug 27 06:57:16 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.4.1.1.f -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v04"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v04"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.4.1.1">
 
    <xsd:include schemaLocation="Class_Types_0411f.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0411f.xsd"/> -->

  <xsd:complexType name="Image_Map_Projection">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The IMAGE_MAP_PROJECTION object is one of two distinct objects that define the map projection used in creating the digital images in a PDS data set. The name of the other associated object that completes the definition is DATA_SET_MAP_PROJECTION. The map projection information resides in these two objects, essentially to reduce data redundancy and at the same time allow the inclusion of elements needed to process the data at the image level. Basically, static information that is applicable to the complete data set reside in the DATA_SET_MAP_PROJECTION object, while dynamic information that is applicable to the individual images reside in the IMAGE_MAP_PROJECTION object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Imaging:comment -->
      <xsd:element name="data_set_id" type="pds:data_set_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:data_set_id -->
      <xsd:element name="a_axis_radius" type="pds:a_axis_radius" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:a_axis_radius -->
      <xsd:element name="b_axis_radius" type="pds:b_axis_radius" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:b_axis_radius -->
      <xsd:element name="c_axis_radius" type="pds:c_axis_radius" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:c_axis_radius -->
      <xsd:element name="center_latitude" type="pds:center_latitude" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:center_latitude -->
      <xsd:element name="center_longitude" type="pds:center_longitude" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:center_longitude -->
      <xsd:element name="coordinate_system_name" type="pds:coordinate_system_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:coordinate_system_name -->
      <xsd:element name="coordinate_system_type" type="pds:coordinate_system_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:coordinate_system_type -->
      <xsd:element name="eastern_most_longitude" type="pds:eastern_most_longitude" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:eastern_most_longitude -->
      <xsd:element name="first_standard_parallel" type="pds:first_standard_parallel" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:first_standard_parallel -->
      <xsd:element name="horizontal_framelet_offset" type="pds:horizontal_framelet_offset" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:horizontal_framelet_offset -->
      <xsd:element name="image_id" type="pds:image_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:image_id -->
      <xsd:element name="line_first_pixel" type="pds:line_first_pixel" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:line_first_pixel -->
      <xsd:element name="line_last_pixel" type="pds:line_last_pixel" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:line_last_pixel -->
      <xsd:element name="line_projection_offset" type="pds:line_projection_offset" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:line_projection_offset -->
      <xsd:element name="map_projection_name" type="pds:map_projection_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:map_projection_name -->
      <xsd:element name="map_projection_rotation" type="pds:map_projection_rotation" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:map_projection_rotation -->
      <xsd:element name="map_resolution" type="pds:map_resolution" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:map_resolution -->
      <xsd:element name="map_scale" type="pds:map_scale" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:map_scale -->
      <xsd:element name="maximum_latitude" type="pds:maximum_latitude" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:maximum_latitude -->
      <xsd:element name="minimum_latitude" type="pds:minimum_latitude" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:minimum_latitude -->
      <xsd:element name="positive_longitude_direction" type="pds:positive_longitude_direction" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:positive_longitude_direction -->
      <xsd:element name="reference_latitude" type="pds:reference_latitude" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:reference_latitude -->
      <xsd:element name="reference_longitude" type="pds:reference_longitude" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:reference_longitude -->
      <xsd:element name="sample_first_pixel" type="pds:sample_first_pixel" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:sample_first_pixel -->
      <xsd:element name="sample_last_pixel" type="pds:sample_last_pixel" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:sample_last_pixel -->
      <xsd:element name="sample_projection_offset" type="pds:sample_projection_offset" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:sample_projection_offset -->
      <xsd:element name="second_standard_parallel" type="pds:second_standard_parallel" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:second_standard_parallel -->
      <xsd:element name="vertical_framelet_offset" type="pds:vertical_framelet_offset" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:vertical_framelet_offset -->
      <xsd:element name="western_most_longitude" type="pds:western_most_longitude" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Image_Map_Projection:western_most_longitude -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Image_Map_Projection" type="pds:Image_Map_Projection">
    <xsd:annotation>
      <xsd:documentation>
        The Image_Map_Projection XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
