preparation/core/src/main/resources/schema/0411f/Product_Software_0411f.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Product_Software_0.4.1.1.f  Sat Aug 27 06:57:16 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.4.1.1.f -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v04"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v04"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.4.1.1">
 
    <xsd:include schemaLocation="Class_Types_0411f.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0411f.xsd"/> -->

  <xsd:complexType name="Product_Software">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          Product Software is a product consisting of a set of one or more software formats.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Data_Standards" type="pds:Data_Standards" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards -->
      <xsd:element name="Cross_Reference_Area_Software" type="pds:Cross_Reference_Area_Software" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Cross_Reference_Area_Software -->
      <xsd:element name="Software_Desc" type="pds:Software_Desc" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Desc -->
      <xsd:element name="Software_Binary" type="pds:Software_Binary" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Binary -->
      <xsd:element name="Software_Script" type="pds:Software_Script" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Script -->
      <xsd:element name="Software_Source" type="pds:Software_Source" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Data_Standards">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Data Standards class indicates the controlling standards for this product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="dd_version_id" type="pds:dd_version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards:dd_version_id -->
      <xsd:element name="std_ref_version_id" type="pds:std_ref_version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards:std_ref_version_id -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Cross_Reference_Area_Software">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The cross reference area software provides references for registered products associated with this product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Bibliographic_Reference" type="pds:Bibliographic_Reference" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference -->
      <xsd:element name="Reference_Entry" type="pds:Reference_Entry" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Bibliographic_Reference">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Bibliographic Reference  class provides references to documents that are not regisered with the PDS.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="name" type="pds:name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:name -->
      <xsd:element name="description" type="pds:description" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:description -->
      <xsd:element name="doi" type="pds:doi" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:doi -->
      <xsd:element name="reference_text" type="pds:reference_text" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:reference_text -->
      <xsd:element name="url" type="pds:url" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:url -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Reference_Entry">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Reference Entry class provides a reference and type information about the reference. The reference is to a product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Reference_Entry_reference_association_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Software_Desc">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Software Desc class describes a software product
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="version_id" type="pds:version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Desc:version_id -->
      <xsd:element name="name" type="pds:name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Desc:name -->
      <xsd:element name="description" type="pds:description" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Desc:description -->
      <xsd:element name="author_list" type="pds:author_list" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Desc:author_list -->
      <xsd:element name="programmers_manual_identifier" type="pds:programmers_manual_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Desc:programmers_manual_identifier -->
      <xsd:element name="software_id" type="pds:software_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Desc:software_id -->
      <xsd:element name="software_type" type="pds:software_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Desc:software_type -->
      <xsd:element name="users_manual_identifier" type="pds:users_manual_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Desc:users_manual_identifier -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Software_Binary">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Software Script class provides a description of a software code that is stored as a compiled binary file.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="files" type="pds:Software_Binary_files" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Binary:files -->
      <xsd:element name="os_version" type="pds:os_version" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Binary:os_version -->
      <xsd:element name="program_notes_identifier" type="pds:program_notes_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Binary:program_notes_identifier -->
      <xsd:element name="supported_architecture" type="pds:supported_architecture" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Binary:supported_architecture -->
      <xsd:element name="supported_os" type="pds:supported_os" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Binary:supported_os -->
      <xsd:element name="sw_format_type" type="pds:sw_format_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Binary:sw_format_type -->
      <xsd:element name="system_requirements" type="pds:Software_Binary_system_requirements" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Binary:system_requirements -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Software_Script">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Software Script class provides a description of a software code that is stored as a script.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="files" type="pds:Software_Script_files" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Script:files -->
      <xsd:element name="install_notes" type="pds:install_notes" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Script:install_notes -->
      <xsd:element name="supported_environment" type="pds:supported_environment" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Script:supported_environment -->
      <xsd:element name="system_requirements" type="pds:Software_Script_system_requirements" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Script:system_requirements -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Software_Source">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Software Script class provides a description of a software code that is stored as source code.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="compile_notes" type="pds:compile_notes" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source:compile_notes -->
      <xsd:element name="files" type="pds:Software_Source_files" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source:files -->
      <xsd:element name="os_version" type="pds:os_version" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source:os_version -->
      <xsd:element name="program_notes_identifier" type="pds:program_notes_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source:program_notes_identifier -->
      <xsd:element name="software_dialect" type="pds:software_dialect" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source:software_dialect -->
      <xsd:element name="software_language" type="pds:software_language" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source:software_language -->
      <xsd:element name="supported_architecture" type="pds:supported_architecture" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source:supported_architecture -->
      <xsd:element name="supported_os" type="pds:supported_os" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source:supported_os -->
      <xsd:element name="sw_format_type" type="pds:sw_format_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source:sw_format_type -->
      <xsd:element name="system_requirements" type="pds:Software_Source_system_requirements" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Software_Source:system_requirements -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Product_Software" type="pds:Product_Software">
    <xsd:annotation>
      <xsd:documentation>
        The Product_Software XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
