preparation/core/src/main/resources/schema/0411f/Product_Document_0411f.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Product_Document_0.4.1.1.f  Sat Aug 27 06:57:16 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.4.1.1.f -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v04"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v04"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.4.1.1">
 
    <xsd:include schemaLocation="Class_Types_0411f.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0411f.xsd"/> -->

  <xsd:complexType name="Product_Document">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          A Product Document is a product consisting of a single logical document that may be comprised of one or more document formats.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Data_Standards" type="pds:Data_Standards" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards -->
      <xsd:element name="Identification_Area_Document" type="pds:Identification_Area_Document" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area_Document -->
      <xsd:element name="Cross_Reference_Area_Document" type="pds:Cross_Reference_Area_Document" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Cross_Reference_Area_Document -->
      <xsd:element name="Document_Format_Set" type="pds:Document_Format_Set" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Format_Set -->
      <xsd:element name="Document_Desc" type="pds:Document_Desc" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Desc -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Data_Standards">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Data Standards class indicates the controlling standards for this product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="dd_version_id" type="pds:dd_version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards:dd_version_id -->
      <xsd:element name="std_ref_version_id" type="pds:std_ref_version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards:std_ref_version_id -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Identification_Area_Document">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The document identification area consists of attributesthat identify and name a document product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="logical_identifier" type="pds:logical_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:logical_identifier -->
      <xsd:element name="version_id" type="pds:version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:version_id -->
      <xsd:element name="product_class" type="pds:product_class" fixed="Product_Document" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:product_class -->
      <xsd:element name="title" type="pds:title" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:title -->
      <xsd:element name="alternate_title" type="pds:alternate_title" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_title -->
      <xsd:element name="alternate_id" type="pds:alternate_id" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_id -->
      <xsd:element name="last_modification_date_time" type="pds:last_modification_date_time" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:last_modification_date_time -->
      <xsd:element name="type" type="pds:type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:type -->
      <xsd:element name="Subject_Area" type="pds:Subject_Area" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Subject_Area">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Subject Area provides one or more topics associated with the identifiable using keywords, key phrases, or classification codes.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="target_name" type="pds:target_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:target_name -->
      <xsd:element name="instrument_name" type="pds:instrument_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_name -->
      <xsd:element name="instrument_host_name" type="pds:instrument_host_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_host_name -->
      <xsd:element name="keywords" type="pds:keywords" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:keywords -->
      <xsd:element name="full_name" type="pds:full_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:full_name -->
      <xsd:element name="investigation_name" type="pds:investigation_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:investigation_name -->
      <xsd:element name="observing_system_name" type="pds:observing_system_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:observing_system_name -->
      <xsd:element name="Name_Resolution" type="pds:Name_Resolution" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Name_Resolution">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Name_Resolution class provides both primary and alternate names of an object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="class_name" type="pds:class_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:class_name -->
      <xsd:element name="name" type="pds:name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:name -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:lidvid_reference -->
      <xsd:element name="primary_name" type="pds:primary_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:primary_name -->
      <xsd:element name="role" type="pds:role" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:role -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Cross_Reference_Area_Document">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The document cross reference area provides references to associated registered products.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Bibliographic_Reference" type="pds:Bibliographic_Reference" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference -->
      <xsd:element name="Observing_System" type="pds:Observing_System" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System -->
      <xsd:element name="Reference_Entry_Context" type="pds:Reference_Entry_Context" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Context -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Bibliographic_Reference">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Bibliographic Reference  class provides references to documents that are not regisered with the PDS.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="name" type="pds:name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:name -->
      <xsd:element name="description" type="pds:description" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:description -->
      <xsd:element name="doi" type="pds:doi" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:doi -->
      <xsd:element name="reference_text" type="pds:reference_text" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:reference_text -->
      <xsd:element name="url" type="pds:url" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:url -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing System class describes the entire suite used to collect the data.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:local_identifier -->
      <xsd:element name="name" type="pds:name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Context:name -->
      <xsd:element name="description" type="pds:description" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:TNDO_Context:description -->
      <xsd:element name="Observing_System_Component" type="pds:Observing_System_Component" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System_Component">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing System Component class references one or more subsystems used to collect data. A subsystem can be an instrument_host, instrument, or any other similar product. Each subsystem is categorized as either a sensor or a source. If the observing system includes both a sensor and a source, Observing System Component occurs twice (once for each type) otherwise it only occurs once.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:comment -->
      <xsd:element name="name" type="pds:name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:name -->
      <xsd:element name="observing_system_component_type" type="pds:observing_system_component_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:observing_system_component_type -->
      <xsd:element name="Reference_Entry_Observing_System_Component" type="pds:Reference_Entry_Observing_System_Component" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Observing_System_Component -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Reference_Entry_Observing_System_Component">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The  Reference Entry Observing System Component class provides a product specific reference and type information about the reference. The references are to components of the observing system.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Reference_Entry_Observing_System_Component_reference_association_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Observing_System_Component:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Reference_Entry_Context">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Reference Entry Context class implements associations between context products. For example, an instrument is associated with an instriument_host which in turn is associated with an investigation.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Reference_Entry_Context_reference_association_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Context:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Document_Format_Set">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Document Format Set class is a set consisting of a document format and associated files.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Document_File" type="pds:Document_File" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_File -->
      <xsd:element name="Document_Format" type="pds:Document_Format" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Format -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Document_File">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Document File class describes a file which is a part of a document.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:comment -->
      <xsd:element name="creation_date_time" type="pds:creation_date_time" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:creation_date_time -->
      <xsd:element name="directory_path_name" type="pds:directory_path_name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_File:directory_path_name -->
      <xsd:element name="encoding_type" type="pds:encoding_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_File:encoding_type -->
      <xsd:element name="external_standard_id" type="pds:external_standard_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_File:external_standard_id -->
      <xsd:element name="file_name" type="pds:file_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:file_name -->
      <xsd:element name="file_size" type="pds:file_size" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:file_size -->
      <xsd:element name="maximum_record_bytes" type="pds:maximum_record_bytes" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:maximum_record_bytes -->
      <xsd:element name="md5_checksum" type="pds:md5_checksum" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:md5_checksum -->
      <xsd:element name="records" type="pds:records" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:records -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Document_Format">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Document Format provides a description of a variant of a logical document that is stored in a specific format. For example the PDS Standards Reference has HTML and PDF formatted versions.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="description" type="pds:description" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Format:description -->
      <xsd:element name="format_type" type="pds:format_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Format:format_type -->
      <xsd:element name="starting_point_identifier" type="pds:starting_point_identifier" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Format:starting_point_identifier -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Document_Desc">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Document_Desc class describes a document.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="document_name" type="pds:document_name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Desc:document_name -->
      <xsd:element name="description" type="pds:description" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Desc:description -->
      <xsd:element name="acknowledgement_text" type="pds:acknowledgement_text" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Desc:acknowledgement_text -->
      <xsd:element name="author_list" type="pds:author_list" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Desc:author_list -->
      <xsd:element name="copyright" type="pds:copyright" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Desc:copyright -->
      <xsd:element name="doi" type="pds:doi" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Desc:doi -->
      <xsd:element name="editor_list" type="pds:editor_list" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Desc:editor_list -->
      <xsd:element name="publication_date" type="pds:publication_date" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Desc:publication_date -->
      <xsd:element name="revision_id" type="pds:revision_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Document_Desc:revision_id -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Product_Document" type="pds:Product_Document">
    <xsd:annotation>
      <xsd:documentation>
        The Product_Document XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
