preparation/core/src/main/resources/schema/0411f/Rings_Prod_Info_0411f.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Rings_Prod_Info_0.4.1.1.f  Sat Aug 27 06:57:16 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.4.1.1.f -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v04"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v04"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.4.1.1">
 
    <xsd:include schemaLocation="Class_Types_0411f.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0411f.xsd"/> -->

  <xsd:complexType name="Rings_Prod_Info">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          This class identifies the set of elements pertinent to Rings products.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="node_name" type="pds:node_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:node_name -->
      <xsd:element name="incidence_angle" type="pds:incidence_angle" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:incidence_angle -->
      <xsd:element name="maximum_ring_radius" type="pds:maximum_ring_radius" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:maximum_ring_radius -->
      <xsd:element name="minimum_ring_radius" type="pds:minimum_ring_radius" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:minimum_ring_radius -->
      <xsd:element name="node_id" type="pds:node_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:node_id -->
      <xsd:element name="occultation_type" type="pds:occultation_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:occultation_type -->
      <xsd:element name="planetary_occultation_flag" type="pds:planetary_occultation_flag" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:planetary_occultation_flag -->
      <xsd:element name="radial_resolution" type="pds:radial_resolution" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:radial_resolution -->
      <xsd:element name="ring_event_start_time" type="pds:ring_event_start_time" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:ring_event_start_time -->
      <xsd:element name="ring_event_stop_time" type="pds:ring_event_stop_time" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:ring_event_stop_time -->
      <xsd:element name="ring_occultation_direction" type="pds:ring_occultation_direction" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:ring_occultation_direction -->
      <xsd:element name="star_name" type="pds:star_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:RINGS:Rings_Prod_Info:star_name -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Rings_Prod_Info" type="pds:Rings_Prod_Info">
    <xsd:annotation>
      <xsd:documentation>
        The Rings_Prod_Info XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
