preparation/core/src/main/resources/schema/0500g/Detector_0500g.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Detector_0.5.0.0.g  Fri Oct 28 10:17:55 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.5.0.0.g -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v05"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v05"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.5.0.0">
 
    <xsd:include schemaLocation="Class_Types_0500g.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0500g.xsd"/> -->

  <xsd:complexType name="Detector">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Detector class provides a description of a phyiscal object that collects data.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="name" type="pds:name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Detector:name -->
      <xsd:element name="description" type="pds:description" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Detector:description -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Detector" type="pds:Detector">
    <xsd:annotation>
      <xsd:documentation>
        The Detector XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
