preparation/core/src/main/resources/schema/0500g/Product_Table_Character_Grouped_0500g.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Product_Table_Character_Grouped_0.5.0.0.g  Fri Oct 28 10:17:55 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.5.0.0.g -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v05"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v05"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.5.0.0">
 
    <xsd:include schemaLocation="Class_Types_0500g.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0500g.xsd"/> -->

  <xsd:complexType name="Product_Table_Character_Grouped">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Product Table Character Grouped class defines a product consisting of one Character table with groups of repeating fields.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Data_Standards" type="pds:Data_Standards" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards -->
      <xsd:element name="Identification_Area_Product" type="pds:Identification_Area_Product" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area_Product -->
      <xsd:element name="Cross_Reference_Area_Product" type="pds:Cross_Reference_Area_Product" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Cross_Reference_Area_Product -->
      <xsd:element name="Observation_Area" type="pds:Observation_Area" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area -->
      <xsd:element name="File_Area_Observational" type="pds:File_Area_Observational" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File_Area_Observational -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Data_Standards">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Data Standards class indicates the controlling standards for this product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="dd_version_id" type="pds:dd_version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards:dd_version_id -->
      <xsd:element name="std_ref_version_id" type="pds:std_ref_version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards:std_ref_version_id -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Identification_Area_Product">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The product identification area consists of attributes that identify and name a data product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="logical_identifier" type="pds:logical_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:logical_identifier -->
      <xsd:element name="version_id" type="pds:version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:version_id -->
      <xsd:element name="product_class" type="pds:product_class" fixed="Product_Table_Character_Grouped" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:product_class -->
      <xsd:element name="title" type="pds:title" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:title -->
      <xsd:element name="alternate_title" type="pds:alternate_title" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_title -->
      <xsd:element name="alternate_id" type="pds:alternate_id" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_id -->
      <xsd:element name="last_modification_date_time" type="pds:last_modification_date_time" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:last_modification_date_time -->
      <xsd:element name="type" type="pds:type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:type -->
      <xsd:element name="Subject_Area" type="pds:Subject_Area" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Subject_Area">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Subject Area provides one or more topics associated with the identifiable using keywords, key phrases, or classification codes.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="target_name" type="pds:target_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:target_name -->
      <xsd:element name="instrument_name" type="pds:instrument_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_name -->
      <xsd:element name="instrument_host_name" type="pds:instrument_host_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_host_name -->
      <xsd:element name="keywords" type="pds:keywords" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:keywords -->
      <xsd:element name="full_name" type="pds:full_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:full_name -->
      <xsd:element name="investigation_name" type="pds:investigation_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:investigation_name -->
      <xsd:element name="observing_system_name" type="pds:observing_system_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:observing_system_name -->
      <xsd:element name="Name_Resolution" type="pds:Name_Resolution" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Name_Resolution">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Name_Resolution (aka Target) class provides a means for target identification in observational data products labels.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:comment -->
      <xsd:element name="name" type="pds:name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:name -->
      <xsd:element name="alternate_designation" type="pds:alternate_designation" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:alternate_designation -->
      <xsd:element name="lid_reference" type="pds:lid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:lid_reference -->
      <xsd:element name="type" type="pds:type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Cross_Reference_Area_Product">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The cross reference product area provides references to associated registered products.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Bibliographic_Reference" type="pds:Bibliographic_Reference" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference -->
      <xsd:element name="Observing_System" type="pds:Observing_System" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System -->
      <xsd:element name="Reference_Entry_Product" type="pds:Reference_Entry_Product" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Product -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Bibliographic_Reference">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Bibliographic Reference  class provides references to documents that are not regisered with the PDS.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="name" type="pds:name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:name -->
      <xsd:element name="description" type="pds:description" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:description -->
      <xsd:element name="doi" type="pds:doi" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:doi -->
      <xsd:element name="reference_text" type="pds:reference_text" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:reference_text -->
      <xsd:element name="url" type="pds:url" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:url -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing System class describes the entire suite used to collect the data.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:local_identifier -->
      <xsd:element name="name" type="pds:name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:name -->
      <xsd:element name="description" type="pds:description" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:description -->
      <xsd:element name="Observing_System_Component" type="pds:Observing_System_Component" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System_Component">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing System Component class references one or more subsystems used to collect data. A subsystem can be an instrument_host, instrument, or any other similar product. Each subsystem is categorized as either a sensor or a source. If the observing system includes both a sensor and a source, Observing System Component occurs twice (once for each type) otherwise it only occurs once.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:comment -->
      <xsd:element name="name" type="pds:name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:name -->
      <xsd:element name="observing_system_component_type" type="pds:observing_system_component_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:observing_system_component_type -->
      <xsd:element name="Reference_Entry_Observing_System_Component" type="pds:Reference_Entry_Observing_System_Component" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Observing_System_Component -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Reference_Entry_Observing_System_Component">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The  Reference Entry Observing System Component class provides a product specific reference and type information about the reference. The references are to components of the observing system.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Reference_Entry_Observing_System_Component_reference_association_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Observing_System_Component:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Reference_Entry_Product">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Reference Entry Product class provides a product specific reference and type information about the reference. The reference is to a product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Reference_Entry_Product_reference_association_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Product:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observation_Area">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The observation area consists of attributes that provide information about the circumstances under which the data were collected.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:comment -->
      <xsd:element name="start_date_time" type="pds:start_date_time" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:start_date_time -->
      <xsd:element name="stop_date_time" type="pds:stop_date_time" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:stop_date_time -->
      <xsd:element name="local_mean_solar_time" type="pds:local_mean_solar_time" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:local_mean_solar_time -->
      <xsd:element name="local_true_solar_time" type="pds:local_true_solar_time" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:local_true_solar_time -->
      <xsd:element name="mission_phase_name" type="pds:mission_phase_name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:mission_phase_name -->
      <xsd:element name="orbit_number" type="pds:orbit_number" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:orbit_number -->
      <xsd:element name="planet_day_number" type="pds:planet_day_number" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:planet_day_number -->
      <xsd:element name="solar_longitude" type="pds:solar_longitude" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:solar_longitude -->
      <xsd:element name="spacecraft_clock_count_partition" type="pds:spacecraft_clock_count_partition" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:spacecraft_clock_count_partition -->
      <xsd:element name="spacecraft_clock_start_count" type="pds:spacecraft_clock_start_count" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:spacecraft_clock_start_count -->
      <xsd:element name="spacecraft_clock_stop_count" type="pds:spacecraft_clock_stop_count" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observation_Area:spacecraft_clock_stop_count -->
      <xsd:element name="Mission_Area" type="pds:Mission_Area" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Mission_Area -->
      <xsd:element name="Node_Area" type="pds:Node_Area" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Node_Area -->
      <xsd:element name="Geometry" type="pds:Geometry" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Geometry -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Mission_Area">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The mission area allow the insertion of mission specific metadata.
        </xsd:documentation>
      </xsd:annotation>
      <!-- When creating a specific XML schema, remove the 'xsd:any' element. You may insert any described nondigital object, one or more times. -->
      <xsd:any minOccurs="0"/>
      <!-- <xsd:element name="Any_NonDigital_Object" type="pds:Any_NonDigital_Object" minOccurs="0" maxOccurs="unbounded"> </xsd:element> -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Node_Area">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The node area allow the insertion of node specific metadata.
        </xsd:documentation>
      </xsd:annotation>
      <!-- When creating a specific XML schema, remove the 'xsd:any' element. You may insert any described nondigital object, one or more times. -->
      <xsd:any minOccurs="0"/>
      <!-- <xsd:element name="Any_NonDigital_Object" type="pds:Any_NonDigital_Object" minOccurs="0" maxOccurs="unbounded"> </xsd:element> -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="File_Area_Observational">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The File Area Observational class describes, for an observational product, a file and one or more tagged_data_objects contained within the file.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="File" type="pds:File" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File -->
      <xsd:element name="Array_2D_Image" type="pds:Array_2D_Image" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_2D_Image -->
      <xsd:element name="Array_2D_Map" type="pds:Array_2D_Map" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_2D_Map -->
      <xsd:element name="Array_2D_Spectrum" type="pds:Array_2D_Spectrum" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_2D_Spectrum -->
      <xsd:element name="Array_3D_Image" type="pds:Array_3D_Image" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_3D_Image -->
      <xsd:element name="Array_3D_Movie" type="pds:Array_3D_Movie" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_3D_Movie -->
      <xsd:element name="Array_3D_Spectrum" type="pds:Array_3D_Spectrum" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Array_3D_Spectrum -->
      <xsd:element name="Delimited_Table" type="pds:Delimited_Table" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Delimited_Table -->
      <xsd:element name="Delimited_Table_Grouped" type="pds:Delimited_Table_Grouped" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Delimited_Table_Grouped -->
      <xsd:element name="Header" type="pds:Header" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Header -->
      <xsd:element name="Header_Binary" type="pds:Header_Binary" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Header_Binary -->
      <xsd:element name="Parsable_Byte_Stream" type="pds:Parsable_Byte_Stream" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream -->
      <xsd:element name="Stream_Text" type="pds:Stream_Text" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Stream_Text -->
      <xsd:element name="Table_Binary" type="pds:Table_Binary" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary -->
      <xsd:element name="Table_Binary_Grouped" type="pds:Table_Binary_Grouped" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Binary_Grouped -->
      <xsd:element name="Table_Character" type="pds:Table_Character" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character -->
      <xsd:element name="Table_Character_Grouped" type="pds:Table_Character_Grouped" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Table_Character_Grouped -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="File">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The File class consists of attributes that describe a file in a data store.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:comment -->
      <xsd:element name="creation_date_time" type="pds:creation_date_time" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:creation_date_time -->
      <xsd:element name="file_name" type="pds:file_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:file_name -->
      <xsd:element name="file_size" type="pds:file_size" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:file_size -->
      <xsd:element name="maximum_record_bytes" type="pds:maximum_record_bytes" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:maximum_record_bytes -->
      <xsd:element name="md5_checksum" type="pds:md5_checksum" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:md5_checksum -->
      <xsd:element name="records" type="pds:records" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:File:records -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Parsable_Byte_Stream">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Parsable Byte Stream class defines byte streams that have standard parsing rules. The Parsable Byte Stream class is the parent class for all parsable byte streams.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:comment -->
      <xsd:element name="encoding_type" type="pds:Parsable_Byte_Stream_encoding_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:encoding_type -->
      <xsd:element name="external_standard_id" type="pds:external_standard_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:external_standard_id -->
      <xsd:element name="offset" type="pds:offset" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Parsable_Byte_Stream:offset -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Product_Table_Character_Grouped" type="pds:Product_Table_Character_Grouped">
    <xsd:annotation>
      <xsd:documentation>
        The Product_Table_Character_Grouped XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
