preparation/core/src/main/resources/schema/0500g/Product_Attribute_Definition_0500g.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Product_Attribute_Definition_0.5.0.0.g  Fri Oct 28 10:17:55 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.5.0.0.g -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v05"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v05"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.5.0.0">
 
    <xsd:include schemaLocation="Class_Types_0500g.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0500g.xsd"/> -->

  <xsd:complexType name="Product_Attribute_Definition">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Product Attribute Definition provides an attribute definition in XML encoding.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Data_Standards" type="pds:Data_Standards" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards -->
      <xsd:element name="Identification_Area" type="pds:Identification_Area" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area -->
      <xsd:element name="Cross_Reference_Area" type="pds:Cross_Reference_Area" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Cross_Reference_Area -->
      <xsd:element name="DD_Attribute_Full" type="pds:DD_Attribute_Full" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute_Full -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Data_Standards">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Data Standards class indicates the controlling standards for this product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="dd_version_id" type="pds:dd_version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards:dd_version_id -->
      <xsd:element name="std_ref_version_id" type="pds:std_ref_version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Data_Standards:std_ref_version_id -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Identification_Area">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The identification area consists of attributes that identify and name an object.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="logical_identifier" type="pds:logical_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:logical_identifier -->
      <xsd:element name="version_id" type="pds:version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:version_id -->
      <xsd:element name="product_class" type="pds:product_class" fixed="Product_Attribute_Definition" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:product_class -->
      <xsd:element name="title" type="pds:title" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:title -->
      <xsd:element name="alternate_title" type="pds:alternate_title" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_title -->
      <xsd:element name="alternate_id" type="pds:alternate_id" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:alternate_id -->
      <xsd:element name="last_modification_date_time" type="pds:last_modification_date_time" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:last_modification_date_time -->
      <xsd:element name="type" type="pds:type" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Identification_Area:type -->
      <xsd:element name="Subject_Area" type="pds:Subject_Area" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Subject_Area">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Subject Area provides one or more topics associated with the identifiable using keywords, key phrases, or classification codes.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="target_name" type="pds:target_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:target_name -->
      <xsd:element name="instrument_name" type="pds:instrument_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_name -->
      <xsd:element name="instrument_host_name" type="pds:instrument_host_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:instrument_host_name -->
      <xsd:element name="keywords" type="pds:keywords" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:keywords -->
      <xsd:element name="full_name" type="pds:full_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:full_name -->
      <xsd:element name="investigation_name" type="pds:investigation_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:investigation_name -->
      <xsd:element name="observing_system_name" type="pds:observing_system_name" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Subject_Area:observing_system_name -->
      <xsd:element name="Name_Resolution" type="pds:Name_Resolution" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Name_Resolution">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Name_Resolution (aka Target) class provides a means for target identification in observational data products labels.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:comment -->
      <xsd:element name="name" type="pds:name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:name -->
      <xsd:element name="alternate_designation" type="pds:alternate_designation" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:alternate_designation -->
      <xsd:element name="lid_reference" type="pds:lid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:lid_reference -->
      <xsd:element name="type" type="pds:type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Name_Resolution:type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Cross_Reference_Area">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The cross reference area provides references to associated registered products.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Bibliographic_Reference" type="pds:Bibliographic_Reference" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference -->
      <xsd:element name="Observing_System" type="pds:Observing_System" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System -->
      <xsd:element name="Reference_Entry" type="pds:Reference_Entry" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Bibliographic_Reference">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Bibliographic Reference  class provides references to documents that are not regisered with the PDS.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="name" type="pds:name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:name -->
      <xsd:element name="description" type="pds:description" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:description -->
      <xsd:element name="doi" type="pds:doi" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:doi -->
      <xsd:element name="reference_text" type="pds:reference_text" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:reference_text -->
      <xsd:element name="url" type="pds:url" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference:url -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing System class describes the entire suite used to collect the data.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:local_identifier -->
      <xsd:element name="name" type="pds:name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:name -->
      <xsd:element name="description" type="pds:description" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System:description -->
      <xsd:element name="Observing_System_Component" type="pds:Observing_System_Component" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Observing_System_Component">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Observing System Component class references one or more subsystems used to collect data. A subsystem can be an instrument_host, instrument, or any other similar product. Each subsystem is categorized as either a sensor or a source. If the observing system includes both a sensor and a source, Observing System Component occurs twice (once for each type) otherwise it only occurs once.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:comment -->
      <xsd:element name="name" type="pds:name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:name -->
      <xsd:element name="observing_system_component_type" type="pds:observing_system_component_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Observing_System_Component:observing_system_component_type -->
      <xsd:element name="Reference_Entry_Observing_System_Component" type="pds:Reference_Entry_Observing_System_Component" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Observing_System_Component -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Reference_Entry_Observing_System_Component">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The  Reference Entry Observing System Component class provides a product specific reference and type information about the reference. The references are to components of the observing system.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Reference_Entry_Observing_System_Component_reference_association_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Observing_System_Component:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Reference_Entry">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Reference Entry class provides a reference and type information about the reference. The reference is to a product.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="lid_reference" type="pds:lid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lid_reference -->
      <xsd:element name="lidvid_reference" type="pds:lidvid_reference" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry_Generic:lidvid_reference -->
      <xsd:element name="reference_association_type" type="pds:Reference_Entry_reference_association_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Reference_Entry:reference_association_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DD_Attribute_Full">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The DD_Attribute_Full class provides a more complete definition of an attribute in the data dictioonary.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="local_identifier" type="pds:local_identifier" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute:local_identifier -->
      <xsd:element name="comment" type="pds:comment" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute:comment -->
      <xsd:element name="version_id" type="pds:DD_Attribute_Full_version_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute_Full:version_id -->
      <xsd:element name="class_name" type="pds:class_name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute_Full:class_name -->
      <xsd:element name="name" type="pds:name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute:name -->
      <xsd:element name="registration_authority_id" type="pds:registration_authority_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute_Full:registration_authority_id -->
      <xsd:element name="steward_id" type="pds:DD_Attribute_Full_steward_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute_Full:steward_id -->
      <xsd:element name="name_space_id" type="pds:DD_Attribute_Full_name_space_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute_Full:name_space_id -->
      <xsd:element name="registered_by" type="pds:registered_by" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute_Full:registered_by -->
      <xsd:element name="submitter_id" type="pds:DD_Attribute_Full_submitter_id" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute_Full:submitter_id -->
      <xsd:element name="definition" type="pds:definition" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute:definition -->
      <xsd:element name="attribute_concept" type="pds:attribute_concept" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Attribute_Full:attribute_concept -->
      <xsd:element name="DD_Value_Domain_Full" type="pds:DD_Value_Domain_Full" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain_Full -->
      <xsd:element name="Terminological_Entry" type="pds:Terminological_Entry" minOccurs="1" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Terminological_Entry -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DD_Value_Domain_Full">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The DD_Value_Domain_Full class provides a more complete definition of a attribute's value domain.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="enumeration_flag" type="pds:enumeration_flag" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain:enumeration_flag -->
      <xsd:element name="formation_rule" type="pds:formation_rule" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain:formation_rule -->
      <xsd:element name="minimum_characters" type="pds:minimum_characters" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain:minimum_characters -->
      <xsd:element name="maximum_characters" type="pds:maximum_characters" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain:maximum_characters -->
      <xsd:element name="minimum_value" type="pds:minimum_value" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain:minimum_value -->
      <xsd:element name="maximum_value" type="pds:maximum_value" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain:maximum_value -->
      <xsd:element name="pattern" type="pds:pattern" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain:pattern -->
      <xsd:element name="unit_of_measure_type" type="pds:unit_of_measure_type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain:unit_of_measure_type -->
      <xsd:element name="conceptual_domain" type="pds:conceptual_domain" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain_Full:conceptual_domain -->
      <xsd:element name="specified_unit_id" type="pds:specified_unit_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain:specified_unit_id -->
      <xsd:element name="value_data_type" type="pds:value_data_type" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Value_Domain:value_data_type -->
      <xsd:element name="DD_Permissible_Value" type="pds:DD_Permissible_Value" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Permissible_Value -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DD_Permissible_Value">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The DD_Permissible_Value class lists permissible values and their meanings.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="value" type="pds:value" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Permissible_Value:value -->
      <xsd:element name="value_meaning" type="pds:value_meaning" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Permissible_Value:value_meaning -->
      <xsd:element name="value_begin_date" type="pds:value_begin_date" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Permissible_Value:value_begin_date -->
      <xsd:element name="value_end_date" type="pds:value_end_date" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:DD_Permissible_Value:value_end_date -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Terminological_Entry">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The terminological_entry class provides the name (designation) and definition of the attribute in a specified natural language.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="name" type="pds:name" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Terminological_Entry:name -->
      <xsd:element name="definition" type="pds:definition" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Terminological_Entry:definition -->
      <xsd:element name="language" type="pds:language" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Terminological_Entry:language -->
      <xsd:element name="preferred_flag" type="pds:preferred_flag" minOccurs="1" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:OPS:Terminological_Entry:preferred_flag -->
      <xsd:element name="Bibliographic_Reference" type="pds:Bibliographic_Reference" minOccurs="0" maxOccurs="unbounded"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:PDS:Bibliographic_Reference -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Product_Attribute_Definition" type="pds:Product_Attribute_Definition">
    <xsd:annotation>
      <xsd:documentation>
        The Product_Attribute_Definition XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
