preparation/core/src/main/resources/schema/0500g/Telemetry_Parameters_0500g.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Telemetry_Parameters_0.5.0.0.g  Fri Oct 28 10:17:55 PDT 2011 -->
  <!-- Generated from the PDS4 Information Model V0.5.0.0.g -->
  <!-- *** This PDS4 product schema is a preliminary deliverable. *** -->
  <!-- *** It is being made available for review and testing. *** -->
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/schema/pds4/pds/v05"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v05"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.5.0.0">
 
    <xsd:include schemaLocation="Class_Types_0500g.xsd">
      <xsd:annotation>
        <xsd:documentation>PDS (common) Data Dictionary - Tagged Data Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:include>
 
  <!-- <xsd:import namespace="http://pds.nasa.gov/schema/pds4/anyNS"
    schemaLocation="Any_Described_Data_Object_0500g.xsd"/> -->

  <xsd:complexType name="Telemetry_Parameters">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The Telemetry_Parameters class contains downlink-related attributes used primarily during mission operations.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:element name="application_process_id" type="pds:application_process_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:application_process_id -->
      <xsd:element name="application_process_name" type="pds:application_process_name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:application_process_name -->
      <xsd:element name="earth_received_start_date_time" type="pds:earth_received_start_date_time" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:earth_received_start_date_time -->
      <xsd:element name="earth_received_stop_date_time" type="pds:earth_received_stop_date_time" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:earth_received_stop_date_time -->
      <xsd:element name="expected_packets" type="pds:expected_packets" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:expected_packets -->
      <xsd:element name="packet_map_mask" type="pds:packet_map_mask" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:packet_map_mask -->
      <xsd:element name="received_packets" type="pds:received_packets" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:received_packets -->
      <xsd:element name="spice_file_name" type="pds:spice_file_name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:spice_file_name -->
      <xsd:element name="telemetry_format_id" type="pds:telemetry_format_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:telemetry_format_id -->
      <xsd:element name="telemetry_provider_id" type="pds:telemetry_provider_id" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:telemetry_provider_id -->
      <xsd:element name="telemetry_source_name" type="pds:telemetry_source_name" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:telemetry_source_name -->
      <xsd:element name="telemetry_source_type" type="pds:telemetry_source_type" minOccurs="0" maxOccurs="1"> </xsd:element>    <!-- RA_0001_NASA_PDS_1:IMG:Telemetry_Parameters:telemetry_source_type -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Telemetry_Parameters" type="pds:Telemetry_Parameters">
    <xsd:annotation>
      <xsd:documentation>
        The Telemetry_Parameters XML Schema
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
